<template name="CSMaterialDetail">

    {{#ionBody}}
        {{> headerBar}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}


        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionContent}}
            <div class="materialDetail_pic">
                {{#if isimage materialDetailList._id}}
                    {{#ionSlideBox}}
                        {{#unless isimages1}}
                            {{#ionSlide}}
                                {{#each images images1}}
                                    <img src="{{this.url}}" style="height: 300px;width: 100%">
                                {{/each}}
                            {{/ionSlide}}
                        {{/unless}}
                        {{#unless isimages2}}
                            {{#ionSlide}}
                                {{#each images images2}}
                                    <img src="{{this.url}}" style="height: 300px;width: 100%">
                                {{/each}}
                            {{/ionSlide}}
                        {{/unless}}
                        {{#unless isimages3}}
                            {{#ionSlide}}
                                {{#each images images3}}
                                    <img src="{{this.url}}" style="height: 300px;width: 100%">
                                {{/each}}
                            {{/ionSlide}}
                        {{/unless}}
                        {{#unless isimages4}}
                            {{#ionSlide}}
                                {{#each images images4}}
                                    <img src="{{this.url}}" style="height: 300px;width: 100%">
                                {{/each}}
                            {{/ionSlide}}
                        {{/unless}}
                        {{#unless isimages5}}
                            {{#ionSlide}}
                                {{#each images images5}}
                                    <img src="{{this.url}}" style="height: 300px;width: 100%">
                                {{/each}}
                            {{/ionSlide}}
                        {{/unless}}
                        {{#unless isimages6}}
                            {{#ionSlide}}
                                {{#each images images6}}
                                    <img src="{{this.url}}" style="height: 300px;width: 100%">
                                {{/each}}
                            {{/ionSlide}}
                        {{/unless}}
                    {{/ionSlideBox}}

                {{else}}
                    <img src="/image/noImg.png">
                {{/if}}
            </div>

            <input type="hidden" class="currentMaterialId" value="{{materialDetailList.ID}}">
            <input type="hidden" class="orderID" value="{{materialDetailList.订单分类}}">
            <!--<input type="hidden" class="materialImage" value="{{materialDetailList.材料图片}}">-->
            <input type="hidden" class="materialImage" value="{{getfirstImg}}">


            {{#ionItem class='materialbianhao'}}
                编号:
                <span style="margin-left: 3%;">{{materialDetailList.材料编号}}</span>
            {{/ionItem}}
            {{#ionItem class="materialbrand"}}
                品牌：
                <span>{{materialDetailList.材料品牌}} </span>
            {{/ionItem}}
            {{#ionItem class='materialName'}}
                名称：
                <span>{{materialDetailList.材料名称}}</span>
            {{/ionItem}}

            {{#ionItem}}
                规格：
                {{materialDetailList.材料规格}}
            {{/ionItem}}
            {{#ionItem}}
                单位：
                {{materialDetailList.材料单位}}
            {{/ionItem}}
            {{#ionItem}}
                属性：
                {{materialDetailList.材料属性}}
            {{/ionItem}}
            {{#ionItem class='shuliang'}}
                数量：
                <div class="shopcount_right">
                <span class="count_style">
                  <div class="jian"><img src="/image/icon/jianhao.png"></div>
                    <div class="add"><input class="input_text" type="text" value="{{materialDetailcount}}"></div>
                    <div class="addd"><img src="/image/icon/jiahao.png"></div>
                </span>
                </div>
            {{/ionItem}}

            <div class="materialDetailAdd">
                {{#autoForm schema=schemaDetail doc=solutionDetail id="CSMaterialDetailprojDetail" type="normal"}}
                    {{>afQuickFields}}
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">
                            确 定 修 改
                        </button>
                    </div>
                {{/autoForm}}
            </div>
            {{#ionItem}}

            {{/ionItem}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>