<template name="customerDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#if Completion_customer}}
            {{#contentFor "headerButtonRight"}}
                <a class="button button-clear pull-left select_mode">
                    <i class="icon ion-plus-round"></i>
                </a>
            {{/contentFor}}
        {{/if}}

        {{#ionView}}

            {{#ionContent}}
                {{#ionList}}
                    <!--必须是已开工的客户-->
                    {{#if customerType}}
                        {{#if isInRole 'ConstructionCaptain,ConstructionCaptainBoss' 'user-group'}}
                            <div class="item" style="text-align: center;">
                                <span style="text-align: center;">施工报检</span></div>

                            {{#if modelInspection Info.BusiType}}
                                <div>
                                    {{#ionItem avatar=true}}
                                        <img src="/image/hydropower.png">
                                        <div class="goRepairList">
                                            <span id="hydropower" class="{{Info.ACNumber}}">项目:水电报检
                                                <span style="color: red">{{isqcIsCheck  "hydropower" Info.ACNumber}}</span>
                                            </span>
                                            <p>状态:
                                                {{inspectionStatus "hydropower" Info.ACNumber}}
                                            </p>
                                        </div>


                                        {{#if checkStatus "hydropower" Info.ACNumber}}
                                            <div style="display: {{buttonDisplay Info.ACNumber 9.7}}">

                                                {{#if isInRole "ConstructionCaptain" 'user-group'}}
                                                    <div style="display: {{buttonDisplay Info.ACNumber 9}}">
                                                        {{#if hydropowerButtom "hydropower" Info.ACNumber}}
                                                            <button class="button-positive button Inspection"
                                                                    style="float: right; margin-top: -15%;">
                                                                <span class="hydropower">报检</span>
                                                            </button>
                                                        {{else}}
                                                            {{#if isCancelButton "hydropower" Info.ACNumber}}
                                                                <button class="button-assertive button cancelInspection"
                                                                        style="float: right; margin-top: -15%; ">
                                                                    <span class="hydropower">取消</span>
                                                                </button>
                                                            {{/if}}
                                                        {{/if}}
                                                    </div>
                                                {{/if}}
                                                {{#if isInRole "ConstructionCaptainBoss" 'user-group'}}
                                                    <div style="display: {{buttonDisplay Info.ACNumber 9}}">

                                                        {{#if inspectionButtonState 'hydropower' Info.ACNumber}}
                                                            <button class="button-positive button Inspection"
                                                                    style="float: right; margin-top: -15%">
                                                                <span class="hydropower">报检</span>
                                                            </button>
                                                        {{else}}

                                                            {{#if isCancelButton "hydropower" Info.ACNumber}}
                                                                <button class="button-assertive button cancelInspection"
                                                                        style="float: right; margin-top: -15%">
                                                                    <span class="hydropower">取消</span>
                                                                </button>
                                                            {{/if}}
                                                        {{/if}}
                                                        <button class="button-balanced button jumpTheQueue"
                                                                style="float: right; margin-top: -15%">
                                                            <span class="hydropower">插队</span>
                                                        </button>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            <div><img src="{{iconImage 'hydropower' Info.ACNumber}}"
                                                      style="width: 10%; float: right; position: relative;margin-top: -12%">
                                            </div>
                                        {{/if}}
                                    {{/ionItem}}

                                    {{#ionItem avatar=true}}
                                        <img src="/image/mudWood.png">
                                        <div class="goRepairList">
                                            <span id="mudWood" class="{{Info.ACNumber}}">项目:泥木报检<span
                                                    style="color: red">{{isqcIsCheck  "mudWood" Info.ACNumber}}</span></span>
                                            <p>状态: {{inspectionStatus "mudWood" Info.ACNumber}}</p>
                                        </div>

                                        {{#if checkStatus "mudWood" Info.ACNumber}}
                                            <div style="display: {{buttonDisplay Info.ACNumber 15.5}}">
                                                {{#if isInRole "ConstructionCaptain" 'user-group'}}
                                                    {{#if mudWoodButton "hydropower" Info.ACNumber}}
                                                        {{#if hydropowerButtom "mudWood" Info.ACNumber}}
                                                            <button class="button-positive button Inspection"
                                                                    style="float: right; margin-top: -15%">
                                                                <span class="mudWood">报检</span>
                                                            </button>

                                                        {{else}}
                                                            {{#if isCancelButton "mudWood" Info.ACNumber}}

                                                                <button class="button-assertive button cancelInspection"
                                                                        style="float: right; margin-top: -15%">
                                                                    <span class="mudWood">取消</span>
                                                                </button>
                                                            {{/if}}
                                                        {{/if}}
                                                    {{else}}
                                                        <button class="button button-stable notInspection"
                                                                style="float: right; margin-top: -15%;">
                                                            报检
                                                        </button>
                                                    {{/if}}
                                                {{/if}}
                                                {{#if isInRole "ConstructionCaptainBoss" 'user-group'}}

                                                    {{#if inspectionButtonState 'mudWood' Info.ACNumber}}
                                                        <button class="button-positive button Inspection"
                                                                style="float: right; margin-top: -15%">
                                                            <span class="mudWood">报检</span>
                                                        </button>
                                                    {{else}}
                                                        {{#if isCancelButton "mudWood" Info.ACNumber}}
                                                            <button class="button-assertive button cancelInspection"
                                                                    style="float: right; margin-top: -15%">
                                                                <span class="mudWood">取消</span>
                                                            </button>
                                                        {{/if}}
                                                    {{/if}}
                                                    <button class="button-balanced button jumpTheQueue"
                                                            style="float: right; margin-top: -15%">
                                                        <span class="mudWood">插队</span>
                                                    </button>
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            <div>
                                                <img src="{{iconImage 'mudWood' Info.ACNumber}}"
                                                     style="width: 10%; float: right; position: relative;margin-top: -12%">
                                            </div>
                                        {{/if}}
                                    {{/ionItem}}

                                    {{#ionItem avatar=true}}
                                        <img src="/image/baojian.jpg">
                                        <div class="goRepairList">
                                            <span id="completion" class="{{Info.ACNumber}}">项目:竣工报检<span
                                                    style="color: red">{{isqcIsCheck  "completion" Info.ACNumber}}</span></span>
                                            <p>状态: {{inspectionStatus "completion" Info.ACNumber}}</p>
                                        </div>

                                        {{#if checkStatus "completion" Info.ACNumber}}
                                            <div style="display: {{buttonDisplay Info.ACNumber 99}}">
                                                {{#if isInRole "ConstructionCaptainBoss" 'user-group'}}

                                                    {{#if inspectionButtonState 'completion' Info.ACNumber}}
                                                        <button class="button-positive button Inspection"
                                                                style="float: right; margin-top: -15%">
                                                            <span class="completion">报检</span>
                                                        </button>
                                                    {{else}}
                                                        {{#if isCancelButton "completion" Info.ACNumber}}

                                                            <button class="button-assertive button cancelInspection"
                                                                    style="float: right; margin-top: -15%">
                                                                <span class="completion">取消</span>
                                                            </button>
                                                        {{/if}}
                                                    {{/if}}
                                                    <button class="button-balanced button jumpTheQueue"
                                                            style="float: right; margin-top: -15%">
                                                        <span class="completion">插队</span>
                                                    </button>
                                                {{/if}}
                                                {{#if isInRole "ConstructionCaptain" 'user-group'}}
                                                    {{#if mudWoodButton "hydropower" Info.ACNumber}}
                                                        {{#if mudWoodButton "mudWood" Info.ACNumber}}
                                                            {{#if hydropowerButtom "completion" Info.ACNumber}}
                                                                <button class="button-positive button Inspection"
                                                                        style="float: right; margin-top: -15%">
                                                                    <span class="completion">报检</span>
                                                                </button>

                                                            {{else}}
                                                                {{#if isCancelButton "completion" Info.ACNumber}}
                                                                    <button class="button-assertive button cancelInspection"
                                                                            style="float: right; margin-top: -15%">
                                                                        <span class="completion">取消</span>
                                                                    </button>
                                                                {{/if}}
                                                            {{/if}}
                                                        {{else}}
                                                            <button class="button button-stable notInspection"
                                                                    style="float: right; margin-top: -15%">
                                                                报检
                                                            </button>
                                                        {{/if}}

                                                    {{else}}
                                                        <button class="button button-stable notInspection"
                                                                style="float: right; margin-top: -15%">
                                                            报检
                                                        </button>
                                                    {{/if}}
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            <div><img src="{{iconImage 'completion' Info.ACNumber}}"
                                                      style="width: 10%; float: right; position: relative;margin-top: -12%">
                                            </div>
                                        {{/if}}
                                    {{/ionItem}}
                                </div>
                                <div style="border: 5px solid #ECECEC"></div>

                            {{else}}
                                {{#ionItem avatar=true }}
                                    <img src="/image/baojian.jpg">
                                    <div class="goRepairList">
                                        <span id="completion" class="{{Info.ACNumber}}">项目:竣工报检<span
                                                style="color: red">{{isqcIsCheck  "completion" Info.ACNumber}}</span></span>
                                        <p>状态: {{inspectionStatus 'completion' Info.ACNumber}}</p>
                                    </div>


                                    {{#if checkStatus "completion" Info.ACNumber}}
                                        <div style="display: {{buttonDisplay Info.ACNumber 99}}">
                                            {{#if isInRole "ConstructionCaptain" 'user-group'}}
                                                {{#if hydropowerButtom "completion" Info.ACNumber}}
                                                    <button class="button-positive button Inspection"
                                                            style="float: right; margin-top: -15%">
                                                        <span class="completion">报检</span>
                                                    </button>

                                                {{else}}
                                                    <button class="button-assertive button cancelInspection"
                                                            style="float: right; margin-top: -15%">
                                                        <span class="completion">取消</span>
                                                    </button>
                                                {{/if}}
                                            {{/if}}
                                            {{#if isInRole "ConstructionCaptainBoss" 'user-group'}}
                                                {{#if inspectionButtonState 'completion' Info.ACNumber}}
                                                    <button class="button-positive button Inspection"
                                                            style="float: right; margin-top: -15%">
                                                        <span class="completion">报检</span>
                                                    </button>
                                                {{else}}
                                                    <button class="button-assertive button cancelInspection"
                                                            style="float: right; margin-top: -15%">
                                                        <span class="completion">取消</span>
                                                    </button>
                                                {{/if}}
                                                <button class="button-balanced button jumpTheQueue"
                                                        style="float: right; margin-top: -15%">
                                                    <span class="completion">插队</span>
                                                </button>
                                            {{/if}}
                                        </div>
                                    {{else}}
                                        <div>
                                            <img src="{{iconImage 'completion' Info.ACNumber}}"
                                                 style="width: 10%; float: right; position: relative;margin-top: -12%">
                                        </div>
                                    {{/if}}
                                {{/ionItem}}
                                <div style="border: 5px solid #ECECEC"></div>


                            {{/if}}
                                <!--{{#ionItem class="getStartTime item-icon-right goMYCustomerDetail"}}-->
                            <!--客户详细信息-->
                            <!--<i class="icon ion-ios-arrow-right"></i>-->
                                <!--{{/ionItem}}-->
                            {{#if isConstructionConfirm}}
                                <div style="border: 5px solid #ECECEC"></div>
                                <div class="padding">
                                    <button class="button button-block  button-positive constructionConfirm">
                                        施工队长一键确认所有材料均已到场
                                    </button>
                                </div>
                            {{/if}}
                            <div style="border: 5px solid #ECECEC"></div>

                            {{#ionItem class="item"}}
                                <div>
                                    工程费:
                            <span class="item-note">
                             <label>{{CostAccountingPlan.合计}}元</label>
                            </span>
                                </div>
                            {{/ionItem}}
                            <div style="border: 5px solid #ECECEC"></div>
                        {{/if}}
                    {{/if}}

                    {{#unless Completion_customer}}
                        <div style="border: 5px solid #ECECEC"></div>
                        {{#ionItem class="getStartTime item-icon-right goMYCustomerDetail"}}
                            <span style="color:red"> 客户详细信息</span>
                            <i class="icon ion-ios-arrow-right"></i>

                        {{/ionItem}}
                    {{/unless}}
                    <div style="border: 5px solid #ECECEC"></div>

                    {{#ionItem class="item"}}
                        <div>
                            受理编号
                            <span class="item-note">
                             <label class="acnumberNumber">{{Info.ACNumber}}</label>
                            </span>
                        </div>
                    {{/ionItem}}
                    {{#ionItem class="item"}}
                        <div>
                            客户名称
                      <span class="item-note">
                        <label>{{Info.CustName}}</label>
                    </span>
                        </div>
                    {{/ionItem}}
                    {{#ionItem class="item"}}
                        <div>
                            联系方式
                      <span class="item-note">
                        <label>
                            {{#if Info.Mobile}}
                                {{Info.Mobile}}
                            {{/if}}
                            {{#if Info.Mobile2}}
                                ,{{Info.Mobile2}}
                            {{/if}}
                            {{#if Info.Telephone}}
                                ,{{Info.Telephone}}
                            {{/if}}
                            {{#if Info.Telephone2}}
                                ,{{Info.Telephone2}}
                            {{/if}}

                        </label>
                    </span>
                        </div>
                    {{/ionItem}}
                    {{#ionItem class="item"}}
                        <div>
                            装修模式
                      <span class="item-note">
                        <label>{{Info.BusiType}}</label>
                    </span>
                        </div>
                    {{/ionItem}}

                    {{#ionItem class="customerAddress"}}
                        <div>
                            地 址
                      <span class="item-note">
                          {{Info.Address}}
                      </span>
                        </div>
                    {{/ionItem}}

                    <!--<div class="padding item" style="white-space: inherit">-->
                    <!--<div>-->
                    <!--地 址-->
                    <!--<span class="item-note">-->
                    <!--{{Info.Address}}-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    {{#ionItem class="item"}}
                        <div>
                            设计师
                      <span class="item-note">
                        <label>{{designerInfo}}</label>
                    </span>
                        </div>
                    {{/ionItem}}
                    {{#if Info.startTime}}
                        {{#ionItem class="item"}}
                            <div>
                                开工日期
                      <span class="item-note">
                              <label>{{getStartTime Info.startTime}}</label>
                      </span>
                            </div>
                        {{/ionItem}}
                    {{/if}}
                    {{#if Info.actualStartTime}}
                        {{#ionItem class="item"}}
                            <div>
                                实际开工日期
                      <span class="item-note">
                              <label>{{getStartTime Info.actualStartTime}}</label>
                    </span>
                            </div>
                        {{/ionItem}}
                    {{/if}}
                    {{#if Info.actualStartTime2}}
                        {{#ionItem class="item"}}
                            <div>
                                实际开工时间
                      <span class="item-note">
                              <label>{{Info.actualStartTime2}}</label>
                    </span>
                            </div>
                        {{/ionItem}}
                    {{/if}}
                    {{#if Info.endTime}}
                        {{#ionItem class="item"}}
                            <div>
                                竣工时间
                      <span class="item-note">
                        <label>{{getStartTime Info.endTime}}</label>
                    </span>
                            </div>
                        {{/ionItem}}
                    {{/if}}

                    {{#unless isInRole 'ConstructionCaptain,ConstructionCaptainBoss' 'user-group'}}
                    <!--{{#unless Completion_customer}}-->
                        <!--<div style="border: 5px solid #ECECEC"></div>-->
                            <!--{{#ionItem class="getStartTime item-icon-right goMYCustomerDetail"}}-->
                            <!--客户详细信息-->
                            <!--<i class="icon ion-ios-arrow-right"></i>-->

                                <!--{{/ionItem}}-->
                            <!--{{/unless}}-->
                        <div style="border: 5px solid #ECECEC"></div>

                        {{#ionItem}}
                            装修方案
                        {{/ionItem}}
                        <div class="solutionList">
                            {{#each solution}}
                                <div class="row">
                                    {{#ionItem}}
                                        <div class="solutionName" id="{{this._id}}">
                                            <span>方案名称:{{solutionName}} </span>
                                            <p>方案时间:{{getSolutionTime Date}}</p>
                                        </div>

                                        <div class="solutionListDel" id="{{this._id}}"
                                             style="position: absolute;float: right; margin-left: 77%;margin-top: -14%;">
                                            <button class="button button-assertive " style="float: right">
                                                删除
                                            </button>
                                        </div>
                                    {{/ionItem}}
                                </div>
                            {{/each}}
                        </div>
                    {{/unless}}


                {{/ionList}}

            {{/ionContent}}
        {{/ionView}}
    {{/ionBody}}
    {{> designer_tabs}}

</template>