<template name="customerType">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#if isInRole 'designer' 'user-group'}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}
    {{/if}}
    {{#ionContent}}
        {{#ionList}}
            {{#ionItem class="new_customer"}}
                <span> 已安排<span class="Colorblue">（ {{new_customerCount}} ）</span></span>
            {{/ionItem}}
            {{#ionItem class="On_site_customer"}}
                <span> 已上门 <span class="Colorblue">（ {{On_site_customerCount}} ）</span></span>
            {{/ionItem}}
            {{#ionItem class="In_budget"}}
                <span> 预算中 <span class="Colorblue">（ {{In_budgetCount}} ）</span></span>
            {{/ionItem}}
            {{#ionItem class="Contract_customers"}}
                <span> 合同客户 <span class="Colorblue">（ {{Contract_customersCount}} ）</span></span>
            {{/ionItem}}
            {{#ionItem class="Completion_customer"}}
                <span> 完成客户 <span class="Colorblue">（ {{Completion_customerCount}} ）</span></span>
            {{/ionItem}}
            {{#ionItem class="materialChat"}}
                <span> 材料会话</span>
                {{#if isUnReadInfo}}
                    <div class="circle1"></div>
                {{/if}}

            {{/ionItem}}

        {{/ionList}}
    {{/ionContent}}
    {{> designer_tabs}}
</template>