<template name="qualityLogin">
    {{#ionBody}}
        {{> headerBar}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">质检人员登录</h1>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList class="list background-none list-account"}}
                    {{#ionItem class="item item-input item-icon-left  button-clear "}}
                        <i class="icon ion-person"></i>
                        <input type="text" placeholder="请输入用户名" id="username">

                    {{/ionItem}}

                    {{#ionItem class="item item-input item-icon-left  button-clear"}}
                        <i class="icon ion-android-lock"></i>
                        <input type="Password" placeholder="请输入密码" id="pwd">

                    {{/ionItem}}

                    <button class="button button-block button-positive account-button">登 录</button>

                {{/ionList}}

            {{/ionContent}}
        {{/ionView}}
    {{/ionBody}}
</template>