<template name="construtionList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionView}}
            {{#ionSubheaderBar class="item item-input"}}
                <i class="icon ion-search placeholder-icon"></i>

                <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                    <input type="text" class="search" placeholder="按照姓名搜索" style="margin-left: 5%;">
                </div>
                <div class="top-bar-btn closed" style="margin-left: 3%;">
                    取消
                </div>
            {{/ionSubheaderBar}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each construtionListInfo}}
                        <div class="item item-avatar">
                            <img src="/image/user.png">
                            <div class="gocustomerDetail">
                                <h2 id="{{_id}}" class="{{ACNumber}}"
                                    style="color:{{getCustomerMode this.ACNumber}}!important;"> {{ACNumber}}
                                    -{{CustName}}-{{getStoreInfo Branch}}</h2>
                                <p style="color:{{getCustomerMode this.ACNumber}}!important;">{{Address}}</p>
                            </div>
                        </div>
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>