<template name="constructionCType">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#if isInRole 'ConstructionCaptain' 'user-group'}}
            {{#contentFor "headerButtonRight"}}
                <button class="button button-clear log-out">注销</button>
            {{/contentFor}}
        {{/if}}

        {{#if isInRole 'ConstructionCaptainBoss' 'user-group'}}
            {{#contentFor "headerButtonLeft"}}
                <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                    {{#if isAndroid}}
                        {{> ionIcon icon='android-arrow-back'}}
                        <span class="back-text">{{leftText}}</span>
                    {{else}}
                        {{> ionIcon icon='ios-arrow-back'}}
                        <span class="back-text">{{leftText}}</span>
                    {{/if}}
                </div>
            {{/contentFor}}
        {{/if}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#ionItem class="notWork"}}
                        <span> 未开工 <span class="Colorblue">（ {{notWorkCount}} ）</span></span>
                    {{/ionItem}}
                    {{#ionItem  class="work"}}
                        <span> 已开工 <span class="Colorblue">（ {{WorkCount}} ）</span></span>

                        <span style="float: right">
                            <button class="button button-positive submitQC">
                              提交质检
                            </button>
                            <button class="button button-positive RectificationList">
                              整改单
                            </button>
                            </span>
                    {{/ionItem}}
                    {{#ionItem class="Completed"}}
                        <span> 已完成 <span class="Colorblue">（ {{CompletedCount}} ）</span></span>
                    {{/ionItem}}

                    {{#ionItem class="materialChat"}}
                        <span> 材料会话</span>
                        {{#if isUnReadInfo}}
                            <div class="circle1"></div>
                        {{/if}}
                    {{/ionItem}}

                    {{#ionItem class="CandSChatInfo"}}
                        <span> 催材料 <span class="Colorblue"></span></span>
                    {{/ionItem}}
                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}
</template>