<template name="qualityInspection">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear save_qualityInspection">保存</button>
    {{/contentFor}}

    {{#ionContent}}
        {{#ionList}}

            {{#ionItem}}
                <label class="item-input item-select">
                    <div class="input-label">
                        水电报检
                    </div>
                    <select>
                        <option>合格</option>
                        <option selected>整改单</option>
                    </select>
                </label>
            {{/ionItem}}

            {{#ionItem}}
                <label class="item-input item-select">
                    <div class="input-label">
                        泥木报检
                    </div>
                    <select>
                        <option>合格</option>
                        <option selected>整改单</option>
                        <option selected>启动二期款结算</option>
                    </select>
                </label>
            {{/ionItem}}

            {{#ionItem}}
                <label class="item-input item-select">
                    <div class="input-label">
                        竣工报检
                    </div>
                    <select>
                        <option>合格</option>
                        <option selected>整改单</option>
                    </select>
                </label>
            {{/ionItem}}


        {{/ionList}}
    {{/ionContent}}
    {{> designer_tabs}}
</template>