<template name="repairList">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#contentFor "headerButtonLeft"}}
        <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
            {{#if isAndroid}}
                {{> ionIcon icon='android-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            {{else}}
                {{> ionIcon icon='ios-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            {{/if}}
        </div>
    {{/contentFor}}

    {{#ionContent}}
        {{#ionList}}
            {{#each info}}
                {{#ionItem}}
                    <strong>整改单类型</strong>:{{this.repairType}}类
                {{/ionItem}}
                {{#each this.reason}}
                    {{#ionItem}}
                        部位: {{this.area}}
                    {{/ionItem}}

                    {{#ionItem}}
                        补充: {{this.supplementrea}}
                    {{/ionItem}}
                    {{#ionItem}}
                        整改编号大类: {{this.errorCode1}}
                    {{/ionItem}}
                    {{#ionItem}}
                        整改编号二级: {{this.errorCode2}}
                    {{/ionItem}}
                    {{#ionItem}}
                        图片
                    {{/ionItem}}
                    {{#ionItem}}
                        {{#each imageInfo this.picture}}
                              <img src="{{this.url}}" style="width: 100%">
                        {{/each}}
                    {{/ionItem}}

                {{/each}}
                <div style="border: 5px solid #ECECEC"></div>

            {{/each}}



        {{/ionList}}
    {{/ionContent}}
    {{> designer_tabs}}
</template>