<template name="searchCustomer">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionView}}
            {{#ionSubheaderBar class="item item-input"}}
                <i class="icon ion-search placeholder-icon"></i>

                <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                    <input type="text" class="search" placeholder="按照受理编号搜索" style="margin-left: 5%;">
                </div>
                <div class="top-bar-btn closed" style="margin-left: 3%;">
                    取消
                </div>
            {{/ionSubheaderBar}}
            {{#ionContent}}
                {{#ionList}}
                    {{#if checkType}}
                        {{#each checkProjectInfo}}
                            <div class="item item-avatar"
                                 style="background-color: {{overdueDate this._id this.checkDate}};">
                                <img src="/image/user.png">
                                <div class="gocustomerDetail">
                                    <h2 id="{{customerId acnumber}}" class="{{acnumber}}"
                                        style="color:{{getCustomerMode this.acnumber}}!important;">{{acnumber}}
                                        -{{customerCustNameInfo acnumber}}
                                        -{{checkProject project}}-{{checkReasultInfo checkResult}}
                                    </h2>
                                    <p style="color:{{getCustomerMode this.acnumber}}!important;">预:{{checkDate}}
                                        报:{{DataFormat this.createDate "YYYY-MM-DD"}}</p>
                                </div>
                            </div>

                        {{/each}}
                    {{else}}
                        {{#each checkProjectInfo}}
                            <div class="item item-avatar"
                                 style="background-color: {{overdueDate this._id this.checkDate}};">
                                <img src="/image/user.png">
                                <div class="gocustomerDetail">
                                    <h2 id="{{customerId acnumber}}" class="{{acnumber}}"
                                        style="color:{{getCustomerMode this.acnumber}}!important;">{{acnumber}}
                                        -{{customerCustNameInfo acnumber}}
                                        -{{checkProject project}}
                                    </h2>
                                    <p style="color:{{getCustomerMode this.acnumber}}!important;">
                                        检{{DataFormat checkDateInspection "YYYY-MM-DD"}}
                                        报:{{DataFormat this.createDate "YYYY-MM-DD"}}</p>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>