<template name="evaluationPage">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#ionContent}}
            {{#ionList}}
                {{#ionItem}}
                    <span> 给设计师  <span style="font-size: 20px;border: 2px; color: blue;">{{designerName}}  </span>  评分：</span>
                    <select class="designer" style="width: 48%">
                        <option value="5">5分</option>
                        <option value="4">4分</option>
                        <option value="3">3分</option>
                        <option value="2">2分</option>
                        <option value="1">1分</option>
                    </select>
                {{/ionItem}}
                {{#ionItem}}
                    {{#if designer01}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                    {{#if designer02}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                    {{#if designer03}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                    {{#if designer04}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}

                    {{#if designer05}}
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}

                {{/ionItem}}

                {{#ionItem class="designerEvalution"}}
                    <span> 给施工队长  <span style="font-size: 20px;border: 2px; color: blue;">{{shigongduizhangName}}</span>   评分：</span>
                    <select class="shigongduizhang" style="width: 44%;">
                        <option value="5">5分</option>
                        <option value="4">4分</option>
                        <option value="3">3分</option>
                        <option value="2">2分</option>
                        <option value="1">1分</option>
                    </select>
                {{/ionItem}}
                {{#ionItem}}

                    {{#if shigongduizhangCount01}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                    {{#if shigongduizhangCount02}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                    {{#if shigongduizhangCount03}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                    {{#if shigongduizhangCount04}}
                        <img src="/image/icon/kongxin.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}

                    {{#if shigongduizhangCount05}}
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                        <img src="/image/icon/xingxing.png" class="xingxing">
                    {{/if}}
                {{/ionItem}}
                {{#ionItem}}
                    <div>
                        <span>对公司的意见：</span>
                        <textarea rows="10" style="border: 1px solid gainsboro;width: 100%;"
                                  class="evaluationContent"></textarea>
                        {{#if issubmitButton}}
                            {{#if submitdisable}}
                                <button class="button button-block button-positive evaluationSubmit">
                                    提交
                                </button>
                            {{else}}
                                <button class="button button-block button-stable Have_evaluation">
                                    提交
                                </button>
                            {{/if}}
                        {{/if}}
                    </div>
                {{/ionItem}}


            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>