<template name="orderSortSupplierList">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#each supplierInfo}}
                    {{#ionItem buttonRight=true class="item-icon-right"}}
                        <h2>{{this.名称}}
                        </h2>

                        <span>{{this.联系人}}</span>
                        <a href="tel:{{this.电话}}"><img src="/image/phoneICON.jpg"
                                                       style="width: 17%;float: right;margin-top: -7%"></a>

                        <i class="icon ion-chatboxes " style="right: 11%;font-size: 38px;"></i>
                        <i class="icon ion-ios-arrow-down allow"></i>


                    {{/ionItem}}
                    <div class="{{this._id}}MaterialDetail" style="display:none;">
                        {{#each supploerMaterialInfo this.ID}}
                            <div class="item" style="text-indent: 2em">
                                <span>{{this.材料名称}}</span>
                            </div>
                        {{/each}}
                    </div>

                {{/each}}

            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}


    {{/ionBody}}
</template>