<template name="danxianghejiaList">
    <!--单项操作-->
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each erpInfoMaterial}}
                        {{#ionItem avatar=true}}
                            <img src="/image/user.png">
                            <div class="gocustomerDetail">
                                <h2>名称:{{customerInfo this.受理编号}}-{{this.受理编号}}-{{this.定单编号}}</h2>
                                <p>住址：{{customerAddress this.受理编号}}</p>
                            </div>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}

</template>