<template name="zhengtihejiaDetaila">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionContent}}
            {{#ionList}}

                <!--材料信息  名称 品牌-->

                {{#each erpBudgetMaterialInfo}}
                    <div class="item orderMaterialDetailInfo">
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>
                        <p>品牌：{{this.材料品牌}}

                        </p>
                    </div>
                {{/each}}

                <div class="padding">
                    {{#each imageInfo}}
                        <img src="{{this.url}}">
                    {{/each}}
                </div>

                <div style="display: none" class="reasonRemark">
                    <textarea class="textareaReason" name="reason" cols=40 rows=4
                              style=" border: 1px solid #b5b5b5!important; width: 100%"> </textarea>

                    <!--<input type="textarea" class="reason" style="border: 1px solid #d3d3d3; width: 100%;height: 10em">-->
                </div>
                {{#if isShowButton}}
                    <div style="margin: auto;text-align: center;">
                        <button class="button button-positive approved">
                            审核通过
                        </button>
                        <button class="button button-positive notApproved">
                            退 回
                        </button>
                    </div>
                {{/if}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>