<template name="zhengtihejiaList">
    <!--整体操作-->
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each erpViewOrder}}
                        {{#ionItem avatar=true}}
                            <img src="/image/user.png">
                            <div class="gocustomerDetail">
                                <h2>名称:{{customerInfo this.受理编号}}-{{this.受理编号}}-{{this.定单号}}</h2>
                                <p>住址：{{customerAddress this.受理编号}}</p>
                            </div>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}

</template>