<template name="constructionCaptainList">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear log-out">注销</button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionSubheaderBar class="item item-input"}}
            <i class="icon ion-search placeholder-icon"></i>

            <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                <input type="text" class="search" placeholder="按照施工队长姓名搜索" style="margin-left: 5%;">
            </div>
            <div class="top-bar-btn closed" style="margin-left: 3%;">
                取消
            </div>
        {{/ionSubheaderBar}}
        {{#ionContent}}

            {{#ionList}}
                {{#each employeeInfo}}
                    {{#ionItem}}
                        <div class="selectConstruction">
                            <h2 class={{this.ID}}> {{this.pName}}</h2>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}

        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionView}}

</template>