<template name="CandSChat">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each messageInfo}}
                        {{#if isInRole 'Supplier' 'user-group'}}
                            <div class="item chatMessage" style=color:{{fontColor this.status}}>
                                <div class="{{this._id}}">{{DataFormat this.createAt "YYYY-MM-DD hh:mm"}}
                                    -{{getConstructionName this.constructionID}}</div>
                                <span> {{this.message}} </span>
                            </div>
                        {{else}}
                            <div class="item chatMessage" style=color:{{fontColor this.status}}>
                                <div class="{{this._id}}">{{DataFormat this.createAt "YYYY-MM-DD hh:mm"}}
                                    -{{getConstructionName this.supplierId}}</div>
                                <span> {{this.message}} </span>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>