<template name="ChangeOrder">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#each ChangeOrderDetail}}
                    {{#ionItem}}
                        <h2 style="margin-top: 10px;">{{this.显示文件名}} </h2>
                        <span>
                            {{#if confirmButtonStatus this._id}}
                                状态:未确认!
                            {{else}}
                                状态:已确认!
                            {{/if}}
                        </span>
                        <p style="float: right; margin-top: -30px;">

                            {{#if isAndroid}}
                                <a href=http://zcl.jnsj.icevpn.org:35553/image/{{this.存储路径}}{{this.存储文件名}}>
                                    <button class="button button-balanced">
                                        打开
                                    </button>
                                </a>
                            {{/if}}

                            {{#if isIOS}}
                                <button class="button button-positive openfile" id="{{this._id}}">
                                    打开
                                </button>

                            {{/if}}


                            {{#if isInRole 'client,designer' 'user-group'}}
                                {{#if confirmButtonStatus this._id}}
                                    <button class="button button-positive submitConfirmInfo" id="{{this._id}}">
                                        确认
                                    </button>
                                {{else}}
                                    <button class="button button-stable confirm" id="{{this._id}}">
                                        确认
                                    </button>
                                {{/if}}

                            {{else}}
                                {{#unless isInRole 'ConstructionCaptain' 'user-group'}}
                                    {{#if openInfo this._id}}
                                        <button class="button button-positive openOrderInfo" id="{{this._id}}">
                                            公开
                                        </button>
                                    {{else}}
                                        <button class="button button-assertive closeOrder" id="{{this._id}}">
                                            关闭
                                        </button>
                                    {{/if}}
                                {{/unless}}
                            {{/if}}
                        </p>

                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>