<template name="settlementOrder">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#each settlementOrderDetail}}
                    {{#ionItem}}

                        <h2 style="margin-top: 10px;">{{this.显示文件名}} </h2>
                        <p style="float: right; margin-top: -30px;">
                            {{#if isAndroid}}
                                <a href=http://zcl.jnsj.icevpn.org:35553/image/{{this.存储路径}}{{this.存储文件名}}>
                                    <button class="button button-balanced">
                                        打开
                                    </button>
                                </a>
                            {{/if}}
                            {{#if isIOS}}
                                <button class="button button-positive openfile" id="{{this._id}}">
                                    打开
                                </button>
                            {{/if}}
                        </p>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>