<template name="SettlementType">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#ionItem class="paymentReminder" avatar=true}}
                    <img src="/image/icon/cuikuan.png">

                    <h2 style="margin-top: 10px"> 二期结算 </h2>
                {{/ionItem}}
                {{#ionItem class="settlementOrder" avatar=true}}
                    <img src="/image/icon/jiesuan.png">

                    <h2 style="margin-top: 10px"> 竣工结算 </h2>
                {{/ionItem}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>