<template name="product02Detail">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#ionContent}}
            {{#ionList}}
                <div class="row" style="margin-left: 1%">
                    <div class="col-30 Spacing">
                        <button class="button button-positive">
                            进度查询
                        </button>
                    </div>
                    <div class="col-30 Spacing">
                        <button class="button button-positive SNINFO">
                            会话管理
                        </button>
                    </div>
                    {{#unless isInRole 'client,materialDept' 'user-group'}}
                        <div class="col-30 Spacing">
                            <button class="button button-positive rushFactory">
                                催进场
                            </button>
                        </div>
                        <div class="col-30 Spacing">
                            <button class="button button-positive typicalSentences">
                                常用
                            </button>
                        </div>
                    {{/unless}}
                </div>
                {{#ionItem}}<span> 编号：{{productList.材料编号}}</span>{{/ionItem}}
                {{#ionItem}}<span> 品牌：{{productList.材料品牌}}</span>{{/ionItem}}
                {{#ionItem}}<span> 名称：<span class="materialName">{{productList.材料名称}}</span></span>{{/ionItem}}
                {{#ionItem}}<span> 规格：{{productList.材料规格}}</span>{{/ionItem}}
                {{#ionItem}}<span> 单位：{{productList.材料单位}}</span>{{/ionItem}}
                {{#ionItem}}<span> 数量：{{productList.材料数量}}</span>{{/ionItem}}
                {{#ionItem}}<span> 柜体五金：{{productList.柜体五金}}</span>{{/ionItem}}
                {{#ionItem}}<span> 板材型号：{{productList.板材型号}}</span>{{/ionItem}}
                {{#ionItem}}<span> 拉篮：{{productList.拉篮}}</span>{{/ionItem}}
                {{#ionItem}}<span> 深度：{{productList.深度}}</span>{{/ionItem}}
                {{#ionItem}}<span> 备注：{{productList.备注}}</span>{{/ionItem}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>