<template name="cancelOrder">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#ionContent}}
            {{#ionList}}
                {{#each cancelOrderList}}
                    {{#ionItem avatar=true}}
                        <img src="/image/user.png">
                        <div class="gocustomerDetail">
                            <span class="{{this._id}}">名称：{{this.ACNumber}} -{{this.CustName}}</span>
                            <p>客户地址：{{ this.Address}}</p>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>

