<template name="countDetail">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#ionContent}}
        {{#ionList}}
            {{#each materialInfo}}
                {{#ionItem class="chatMessage"}}
                    受理编号:<span class="acnumber">{{this.受理编号}}</span>
                {{/ionItem}}
                {{#ionItem}}
                    定单号:<span class="orderNo"> {{this.定单编号}}</span>
                {{/ionItem}}
                {{#ionItem}}
                    客户名称:{{getCustomerName this.受理编号}}
                {{/ionItem}}
                {{#ionItem}}
                    客户地址:{{getCustomerAddress this.受理编号}}
                {{/ionItem}}
                <div style="border: 5px solid #ECECEC"></div>
            {{/each}}

        {{/ionList}}
    {{/ionContent}}
</template>