<template name="orderType">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}

        {{#ionContent}}

            {{#ionList}}
                {{#ionItem class="newOrder"}}
                    <span> 新订单 <span class="Colorblue">（ {{orderCount.newOrder}} ）</span></span>
                {{/ionItem}}
                {{#ionItem class="proceedOrder"}}
                    <span> 进行中的订单 <span class="Colorblue">（ {{orderCount.proceedOrder}} ）</span></span>
                {{/ionItem}}
                {{#ionItem class="finishOrder"}}
                    <span> 已入库订单 <span class="Colorblue">（ {{orderCount.finishOrder}} ）</span></span>
                {{/ionItem}}
                {{#ionItem class="suspendOrder"}}
                    <span> 入库退回订单材料  <span class="Colorblue">（ {{orderCount.suspendOrder}} ）</span></span>
                {{/ionItem}}
                {{#ionItem class="cancelOrder"}}
                    <span> 已取消订单材料 <span class="Colorblue">（ {{orderCount.cancelOrder}} ）</span></span>
                {{/ionItem}}

                {{#ionItem class="materialChat"}}
                    <span> 材料会话</span>
                    {{#if isUnReadInfo}}
                        <div class="circle1"></div>
                    {{/if}}
                {{/ionItem}}

                {{#ionItem class="rushMaterial"}}
                    <span> 催材料</span>
                    {{#if isUnReadChat}}
                        <div class="circle1"></div>
                    {{/if}}
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}

</template>