<template name="orderList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#ionView}}
            {{#ionSubheaderBar class="item item-input"}}
                <i class="icon ion-search placeholder-icon"></i>
                <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                    <input type="text" class="search" placeholder="按照受理编号搜索" style="margin-left: 5%;">
                </div>
                <div class="top-bar-btn closed" style="margin-left: 3%;">
                    取消
                </div>
            {{/ionSubheaderBar}}
            {{#ionContent class="home"}}
                {{#ionList}}
                    {{#each orderListInfo}}
                        {{#ionItem avatar=true}}
                            <img src="/image/user.png">
                            <div class="gocustomerDetail">
                                <span class="{{this.受理编号}}">名称：{{this.受理编号}}-<span
                                        class="orderNo"> {{this.定单号}}</span>-{{getCustomerName this.受理编号}}</span>
                                <p>客户地址：{{getCustomerAddress this.受理编号}}</p>
                            </div>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>