<template name="proceedOrderType">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#ionContent}}

        {{#ionList}}
            {{#if isInRole 'measure' 'supplier'}}
                {{#ionItem class="quantityMeasure"}}
                    <span class="1"> 待测量 <span class="Colorblue">（ {{infoCount.info1}} ）</span></span>
                {{/ionItem}}
            {{/if}}

            {{#if isInRole 'nuclearPrice' 'supplier'}}
                {{#ionItem class="otherOrder"}}
                    <span class="2"> 待核价 <span class="Colorblue">（ {{infoCount.info2}} ）</span></span>
                {{/ionItem}}
                {{#ionItem   class="otherOrder"}}
                    <span class="3"> 待批准 <span class="Colorblue">（ {{infoCount.info3}} ）</span></span>
                {{/ionItem}}
                {{#ionItem   class="otherOrder"}}
                    <span class="4"> 核价通过 <span class="Colorblue">（ {{infoCount.info4}} ）</span></span>
                {{/ionItem}}
                {{#ionItem   class="otherOrder"}}
                    <span class="5"> 被退回核价 <span class="Colorblue">（ {{infoCount.info5}} ）</span></span>
                {{/ionItem}}
            {{/if}}

            {{#if isInRole 'prepareGoods' 'supplier'}}
                {{#ionItem  class="otherOrder"}}
                    <span class="6"> 备货中 <span class="Colorblue">（ {{infoCount.info6}} ）</span></span>
                {{/ionItem}}
            {{/if}}
            {{#if isInRole 'deliverGoods' 'supplier'}}
                {{#ionItem  class="otherOrder"}}
                    <span class="7"> 安排发货 <span class="Colorblue">（ {{infoCount.info7}} ）</span></span>
                {{/ionItem}}
                {{#ionItem class="deliverGoods"}}
                    <span class="8"> 发货中 <span class="Colorblue">（ {{infoCount.info8}} ）</span></span>
                {{/ionItem}}
            {{/if}}

            {{#if isInRole 'install' 'supplier'}}
                {{#ionItem  class="otherOrder"}}
                    <span class="9"> 待安装 <span class="Colorblue">（ {{infoCount.info9}} ）</span></span>
                {{/ionItem}}
                {{#ionItem  class="otherOrder"}}
                    <span class="10"> 安装中 <span class="Colorblue">（ {{infoCount.info10}} ）</span></span>
                {{/ionItem}}
            {{/if}}
            {{#if isInRole 'sendGoods' 'supplier'}}
                {{#ionItem  class="otherOrder"}}
                    <span class="14"> 待入库 <span class="Colorblue">（ {{infoCount.info14}} ）</span></span>
                {{/ionItem}}
                {{#ionItem  class="otherOrder"}}
                    <span class="11"> 入库待审核 <span class="Colorblue">（ {{infoCount.info11}} ）</span></span>
                {{/ionItem}}
            {{/if}}
        {{/ionList}}
    {{/ionContent}}
    {{> designer_tabs}}
</template>