<template name="scheduleList">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionContent}}
            {{#ionList}}
                <!--测量-->
                {{#if isInRole 'measure' 'supplier'}}
                    <div class="measureList" style="display: {{divIsDisplay 1}}">
                        <div class="item">

                            <img src="/lock/{{isLock "lockMeasure"}}" style="width: 10%;" class="measureUnlock"
                                 id="measure">

                            <span style="font-size: 20px;text-align: center;margin-left: 6em;"><strong>测量</strong></span>
                        </div>

                        {{#if measureDate}}
                            <label class="item item-input">
                                <div class="input-label">
                                    上门测量时间:
                                </div>
                                <label>{{materialInfo.measureDate}}</label>
                            </label>
                        {{else}}
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    上门测量时间:
                                </div>

                                <input type="date" class="toMeasureTime">
                            </label>
                        {{/if}}
                        {{#ionItem}}
                            <div style="text-align: center;margin: auto" class="testDisabledButton">
                                {{#if measureStatus}}
                                    <button class="button button-positive MeasureConfirm"
                                            disabled="{{buttonDisabled 1}}">
                                        确认
                                    </button>
                                    <button class="button button-positive Measurefinish"
                                            disabled="{{buttonDisabled 1}}">
                                        完成测量
                                    </button>
                                    <button class="button button-positive skipButton"
                                            disabled="{{buttonDisabled 1}}">
                                        跳过
                                    </button>
                                {{else}}
                                    <button class="button button-positive MeasureConfirm"
                                            disabled="{{buttonDisabled 1}}">
                                        确认
                                    </button>
                                    <button class="button button-positive Measurefinish"
                                            disabled="{{buttonDisabled 2}}">
                                        完成测量
                                    </button>
                                    <button class="button button-positive skipButton"
                                            disabled="{{buttonDisabled 2}}">
                                        跳过
                                    </button>
                                {{/if}}

                            </div>
                        {{/ionItem}}
                        <div style="border: 5px solid #ECECEC"></div>
                    </div>
                {{/if}}
                <!--核价-->

                {{#if isInRole 'nuclearPrice' 'supplier'}}
                    <div style="display: {{divIsDisplay 3}}">
                        <div class="item" style="margin: auto;text-align: center">
                            <h2 style="font-size: 18px"><strong>核价</strong></h2>
                            <span>{{info.reasontextarea1}}</span>
                        </div>

                        <label class="item item-input ">
                            {{#autoForm schema=Schemas.corePrice collection="ERP_Budget_Material"
                                        id="erpBudgetCorePrice" type="update" doc=info}}
                                {{#ionItem}}
                                    {{> afQuickField name="corePrice" }}
                                {{/ionItem}}
                                <div class="padding" style="margin: auto;text-align: center;">
                                    <button class="button button-positive" type="submit"
                                            disabled="{{buttonDisabled 3}}">
                                        确认
                                    </button>

                                </div>
                            {{/autoForm}}
                        </label>
                        <div style="border: 5px solid #ECECEC"></div>
                    </div>
                {{/if}}

                <!--备货-->
                {{#if isInRole 'prepareGoods' 'supplier'}}
                    <div style="display: {{divIsDisplay 6}}">
                        <div class="item">
                            <img src="/lock/{{isLock "lockStockUp"}}" style="width: 10%;"
                                 class="beihuoDatemeasureUnlock">
                            <span style="font-size: 20px;text-align: center;margin-left: 6em;"><strong>备货</strong></span>
                        </div>

                        {{#if prepareGoodsButton}}
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    备货天数:
                                </div>
                                <select class="stockingDate">
                                    <option value="">请选择</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                </select>
                            </label>
                        {{else}}
                            <label class="item item-input">
                                <div class="input-label">
                                    备货天数:<span style="float: right">{{materialInfo.beihuoDate}}</span>
                                </div>
                            </label>
                        {{/if}}

                        {{#ionItem}}
                            <div style="text-align: center;margin: auto">
                            <!--{{#if prepareGoodsButton}}-->
                                <button class="button button-positive Stocking" disabled="{{buttonDisabled 6}}">
                                    确认
                                </button>
                                    <!--{{else}}-->
                                <button class="button button-positive finishStocking"
                                        disabled="{{buttonDisabled 7}}">
                                    完成备货
                                </button>
                                    <!--{{/if}}-->
                            </div>
                        {{/ionItem}}
                    </div>
                    <div style="border: 5px solid #ECECEC"></div>
                {{/if}}
                <!--送货-->
                {{#if isInRole 'deliverGoods' 'supplier'}}
                    <div style="display: {{divIsDisplay 8}}">

                        <div class="item">
                            <img src="/lock/{{isLock "lockDeliverGoods"}}" style="width: 10%;"
                                 class="deliverGoodsUnlock">
                            <span style="font-size: 20px;text-align: center;margin-left: 6em;"><strong>送货</strong></span>
                        </div>

                        {{#if deliverGoodsButton}}
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    送货时间:
                                </div>
                                <input type="date" class="deliverGoodsDate"
                                       value="{{dateFormat materialInfo.deliverGoodsDate}}">
                            </label>
                        {{else}}
                            <label class="item item-input">
                                <div class="input-label">
                                    <span style="float: right">送货时间:{{materialInfo.deliveryDate}}</span>
                                </div>

                            </label>
                        {{/if}}

                        {{#ionItem}}
                            <div style="text-align: center;margin: auto">
                                <button class="button button-positive deliverGoods" disabled="{{buttonDisabled 8}}">
                                    确认
                                </button>
                                <button class="button button-positive finishfdeliverGoods"
                                        disabled="{{buttonDisabled 9}}">
                                    完成
                                </button>
                            </div>
                        {{/ionItem}}
                        <div style="border: 5px solid #ECECEC"></div>

                    </div>
                {{/if}}
                <!--安装-->
                {{#if isInRole 'install' 'supplier'}}
                    <div style="display: {{divIsDisplay 14}}">
                        <div class="item" style="margin: auto;text-align: center">
                            <h2 style="font-size: 18px"><strong>安装</strong></h2>
                        </div>

                        {{#if installStatus}}
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    安装时间:
                                </div>
                                <input type="date" class="installDate"
                                       value="{{dateFormat materialInfo.installDate}}">
                            </label>
                        {{else}}
                            <label class="item item-input ">
                                <div class="input-label">
                                    安装时间:{{materialInfo.insetalDate}}
                                </div>

                            </label>
                        {{/if}}
                        <label class="item item-input ">
                            {{#autoForm schema=Schemas.install collection="ERP_Budget_Material" id="erpBudgetinstall"
                                        type="update" doc=info}}
                                {{#ionItem}}
                                    {{> afQuickField name="installFile" }}
                                {{/ionItem}}
                                <div class="padding" style="margin: auto;text-align: center;">
                                    <button class="button button-positive " type="submit"
                                            disabled="{{buttonDisabled 10}}">
                                        确认提交安装单
                                    </button>
                                </div>
                            {{/autoForm}}
                        </label>

                        {{#ionItem}}
                            <div style="text-align: center;margin: auto">
                                {{#if installStatus}}
                                    <button class="button button-positive install" disabled="{{buttonDisabled 14}}">
                                        安装
                                    </button>
                                {{else}}
                                    <button class="button button-positive finishInstall"
                                            disabled="{{buttonDisabled 10}}">
                                        完成
                                    </button>
                                {{/if}}
                                <button class="button button-positive ditto" disabled="{{buttonDisabled 14}}">
                                    送货和安装同时
                                </button>
                                <!--<button class="button button-positive " disabled="{{buttonDisabled 14}}">-->
                                <!--施工队长确认-->
                                <!--</button>-->
                            </div>
                        {{/ionItem}}
                        <div style="border: 5px solid #ECECEC"></div>

                    </div>
                {{/if}}
                <!--入库-->
                {{#if erpduizhang}}
                    {{#if isInRole 'sendGoods' 'supplier'}}
                        <div style="display: {{divIsDisplay 13}}">
                            <div class="item" style="margin: auto;text-align: center">
                                <h2 style="font-size: 18px"><strong> 入库

                                </strong></h2>
                            </div>
                            {{#if isInRole 'nuclearPrice' 'supplier'}}
                                <span style="color:blue;text-align: center">(您可以整体入库,提交一张入库单即可)</span>
                            {{else}}
                                <span style="color:blue;text-align: center">(此步不能合并操作,请为每个材料提交入库单)</span>
                            {{/if}}
                            {{#if materialInfo.reasontextarea2}}
                                <div class="item">
                                    退回入库原因:{{materialInfo.reasontextarea2}}
                                </div>
                            {{/if}}

                            <label class="item item-input ">
                                {{#autoForm schema=Schemas.putInStorage collection="ERP_Budget_Material"
                                            id="erpBudgetputInStorage" type="update" doc=info}}
                                    {{#ionItem}}
                                        {{> afQuickField name="putInStorageFile" }}
                                    {{/ionItem}}
                                    入库损耗：{{lossPrice}}
                                    {{#ionItem}}
                                        {{> afQuickField name="putInStoragePrice" }}
                                    {{/ionItem}}
                                    {{#if supplierType}}
                                        {{#ionItem}}
                                            {{> afQuickField name="putInStorageNumber" }}
                                        {{/ionItem}}
                                    {{/if}}
                                    <div class="padding" style="margin: auto;text-align: center;">
                                        {{#if putInStorageInfo}}
                                            <button class="button button-positive " type="submit"
                                                    disabled="{{buttonDisabled 11}}">
                                                确认提交入库单
                                            </button>
                                        {{else}}
                                            <button class="button button-positive " type="submit"
                                                    disabled="{{buttonDisabled 13}}">
                                                确认提交入库单
                                            </button>
                                        {{/if}}
                                    </div>
                                {{/autoForm}}
                            </label>
                            <div style="border: 5px solid #ECECEC"></div>

                        </div>
                    {{/if}}
                {{/if}}

            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}



</template>