<template name="supplierCount">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear log-out">注销</button>
    {{/contentFor}}

    {{#ionBody}}
        {{#ionView}}
            {{#ionContent class="messageInfo"}}
                {{#ionList}}
                    <div class=" row cabinetDate">
                        <button class="col date" id="date"> {{selectDate}}</button>
                        <button class="button button-light search">
                            搜索
                        </button>
                    </div>


                    <div style="border: 5px solid #ECECEC"></div>
                    <div class="item">
                        已发货数量:{{totalResult.total8Count}}
                    </div>

                    <div class="item">
                        已发货金额:{{totalResult.total8}}元
                    </div>
                    <div class="item">
                        <button class="button button-block button-positive goDetail8">
                            查看详细
                        </button>
                    </div>
                    <div style="border: 5px solid #ECECEC"></div>

                    <div class="item">
                        已入库数量:{{totalResult.total12Count}}
                    </div>
                    <div class="item">
                        已入库金额:{{totalResult.total12}}元
                    </div>

                    <div class="item">
                        <button class="button button-block button-positive goDetail12">
                            查看详细
                        </button>
                    </div>


                {{/ionList}}
                <!--<div class="item" style="text-align: center">-->
                <!--年统计-->
                <!--</div>-->
                <!--<div class="item">-->
                <!--年发货数量:{{yearTotalCount.total8Count}},金额:{{yearTotalCount.total8}}-->
                <!--</div>-->
                <!--<div class="item">-->
                <!--年入库数量:{{yearTotalCount.total12Count}},金额:{{yearTotalCount.total12}}-->
                <!--</div>-->
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}

</template>