<template name="newsList">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">最新动态</h1>
    {{/contentFor}}

    {{#ionContent}}

        <div class="padding">
            <h3 style="text-align: center; margin-top: 5%;">{{newInfoList.newsTitle}}</h3>
            <p style="text-align: center">{{getDataformat  newInfoList.newData}}</p>
        </div>

        <div style="  text-indent:2em" class="padding">
            <span>{{newInfoList.content}}</span>
        </div>
    {{/ionContent}}
</template>