<template name="test">
    {{#autoForm schema=Schemas.newsInfoList collection="newsInfo" id="Productc_insertid" type="insert"}}
        <fieldset>
            {{> afQuickField name="newsTitle"}}
            {{> afQuickField name="content"}}
            {{> afQuickField name="newData"}}

        </fieldset>
        <button type="submit" class="btn btn-primary">提交</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    {{/autoForm}}
</template>