<template name="designer_tabs">
    <!--客户-->
    {{#if isInRole 'client' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active selectMaterial" data-ion-tab="">
                <i class="ion-search"></i>

                <div class="div_size">选材</div>
            </a>
            <a class="tab-item active" href="/mycustomer" data-ion-tab="">
                <i class="ion-person"></i>

                <div class="div_size">我的</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-android-share-alt"></i>

                <div class="div_size">分享</div>
            </a>
        {{/ionTabs}}
    {{/if}}
    <!--设计师-->
    {{#if isInRole 'designer' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active" href="/customerType" data-ion-tab="">
                <i class="ion-person-stalker"></i>
                <div class="div_size">客户</div>
            </a>
            <a class="tab-item active" href="/designerSearch" data-ion-tab="">
                <i class="ion-ios-settings-strong"></i>
                <div class="div_size">查找</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-stats-bars"></i>
                <div class="div_size">统计</div>
            </a>
        {{/ionTabs}}
    {{/if}}

    <!--副总-->
    {{#if isInRole 'vicePresident' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active" href="/shopManagerSearch" data-ion-tab="">
                <i class="ion-person-stalker"></i>
                <div class="div_size">客户</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-ios-settings-strong"></i>
                <div class="div_size">查找</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-stats-bars"></i>
                <div class="div_size">统计</div>
            </a>
        {{/ionTabs}}
    {{/if}}

    <!--大区经理-->
    {{#if isInRole 'districtManager,test' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active" href="/shopManagerSearch" data-ion-tab="">
                <i class="ion-person-stalker"></i>
                <div class="div_size">客户</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-ios-settings-strong"></i>
                <div class="div_size">查找</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-stats-bars"></i>
                <div class="div_size">统计</div>
            </a>
        {{/ionTabs}}
    {{/if}}

    <!--店长-->
    {{#if isInRole 'StoreManager' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active" href="/shopManagerSearch" data-ion-tab="">
                <i class="ion-person-stalker"></i>
                <div class="div_size">客户</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-ios-settings-strong"></i>
                <div class="div_size">查找</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-stats-bars"></i>
                <div class="div_size">统计</div>
            </a>
        {{/ionTabs}}
    {{/if}}



    <!--施工队长-->
    {{#if isInRole 'ConstructionCaptain,ConstructionCaptainBoss' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}

            <a class="tab-item active" href="/constructionCType" data-ion-tab="">
                <i class="ion-ios-paper-outline"></i>
                <div class="div_size">工地</div>
            </a>


            <a class="tab-item active" href="/borrowingType" data-ion-tab="">
                <i class="ion-ios-list-outline"></i>
                <div class="div_size">借款</div>
            </a>
            <a class="tab-item active" href="/ConstrectionType" data-ion-tab="">
                <i class="ion-ios-list-outline"></i>
                <div class="div_size">工程费</div>
            </a>
        {{/ionTabs}}
    {{/if}}
    <!--施工队长-->


    <!--供应商-->
    {{#if isInRole 'Supplier' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active" href="/orderType" data-ion-tab="">
                <i class="ion-ios-paper-outline"></i>
                <div class="div_size">订单</div>
            </a>
            <a class="tab-item active" href="/supplierCount" data-ion-tab="">
                <i class="ion-stats-bars"></i>
                <div class="div_size">统计</div>
            </a>
            <a class="tab-item active" href="/orderMaterialList" data-ion-tab="">
                <i class="ion-ios-list-outline"></i>
                <div class="div_size">材料</div>
            </a>
        {{/ionTabs}}
    {{/if}}

    {{#if isInRole 'qc,qcManager,qcBoss' 'user-group'}}
        {{#ionTabs style="ios" class="tab_three"}}
            {{#if isInRole 'qcManager,qcBoss' 'user-group'}}
                <a class="tab-item active" href="/assignQC" data-ion-tab="">
                    <i class="ion-ios-paper-outline"></i>
                    <div class="div_size">分配</div>
                </a>
            {{/if}}
            <a class="tab-item active" href="/notExaminedList" data-ion-tab="">
                <i class="ion-stats-bars"></i>
                <div class="div_size">未检</div>
            </a>
            <a class="tab-item active" href="/inspectedList" data-ion-tab="">
                <i class="ion-ios-list-outline"></i>
                <div class="div_size">已检</div>
            </a>
        {{/ionTabs}}
    {{/if}}

    {{#if roleInfo "contractDept"}}
        {{#if isInRole 'contractDept' 'user-group'}}
            {{#ionTabs style="ios" class="tab_three"}}
                <a class="tab-item active" href="/contractPricing" data-ion-tab="">
                    <i class="ion-stats-bars"></i>
                    <div class="div_size">核价</div>
                </a>
                <a class="tab-item active" href="/PutInStorage" data-ion-tab="">
                    <i class="ion-ios-list-outline"></i>
                    <div class="div_size">入库</div>
                </a>
                <a class="tab-item active" href="/contractDeptViewCustomer" data-ion-tab="">
                    <i class="ion-ios-list-outline"></i>
                    <div class="div_size">查找</div>
                </a>
            {{/ionTabs}}
        {{/if}}
    {{/if}}

    {{#if roleInfo "materialDept"}}
        {{#if isInRole 'materialDept' 'user-group'}}
            {{#ionTabs style="ios" class="tab_three"}}
                <a class="tab-item active" href="/materialDeptConstructionType" data-ion-tab="">
                    <i class="ion-stats-bars"></i>
                    <div class="div_size">工地</div>
                </a>
                <a class="tab-item active" href="/materialChatList" data-ion-tab="">
                    <i class="ion-ios-list-outline"></i>
                    <div class="div_size">对话</div>
                </a>
            {{/ionTabs}}
        {{/if}}
    {{/if}}

    <!--姜婷婷账户-->
    {{#if roleInfo "ConstructionCaptainBoss"}}
        {{#if isInRole 'ConstructionCaptainBoss' 'user-group'}}
            {{#ionTabs style="ios" class="tab_three"}}
                <a class="tab-item active" href="/constructionCaptainList" data-ion-tab="">
                    <i class="ion-ios-paper-outline"></i>
                    <div class="div_size">施工队长</div>
                </a>
                <!--<a class="tab-item active" href="/borrowingType" data-ion-tab="">-->
                <!--<i class="ion-ios-list-outline"></i>-->
                <!--<div class="div_size">借款</div>-->
                <!--</a>-->
                <a class="tab-item active" href="/qcCheckPage" data-ion-tab="">
                    <i class="ion-ios-list-outline"></i>
                    <div class="div_size">待检工地</div>
                </a>
            {{/ionTabs}}
        {{/if}}
    {{/if}}
</template>
