<template name="headerBar">
    {{> ionNavBar class='bar-positive'}}

    {{#if leftButton}}
        {{#contentFor "headerButtonLeft"}}
            <!--{{>ionNavBackButton path=backTemplate text="返回"}}-->
            <a class="button button-clear pull-left" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </a>
        {{/contentFor}}
    {{/if}}

    {{#if title}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{title}}</h1>
        {{/contentFor}}
    {{/if}}

    {{#if rightButton}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear pull-right">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-more-verticle'}}
                    <span class="back-text">{{rightText}}</span>
                {{else}}
                    {{> ionIcon icon='navicon'}}
                    <span class="back-text">{{rightText}}</span>
                {{/if}}
            </button>
        {{/contentFor}}
    {{/if}}
</template>