<template name="hejiadanDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#each hejiadanDetailInfo}}
                    {{#ionItem class="item"}}
                        <h2 class="{{this._id}}">{{this.显示文件名}}</h2>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>