<template name="pdfFiles">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}


        {{#ionContent}}
            {{#ionList}}
                <img class="media" src=http://zcl.jnsj.icevpn.org:35553/image/{{pdfInfo.存储路径}}{{pdfInfo.存储文件名}}>
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>