<template name="orderMaterialDetailInfo">

    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#ionContent}}
        {{#ionList}}
            {{#if isimage orderMaterialDetail._id}}

                {{#ionSlideBox}}
                    {{#unless isimages1}}
                        {{#ionSlide}}
                            {{#each imageInfo images1}}
                                <img src="{{this.url}}" style="height: 300px;width: 100%">
                            {{/each}}
                        {{/ionSlide}}
                    {{/unless}}
                    {{#unless isimages2}}
                        {{#ionSlide}}
                            {{#each imageInfo images2}}
                                <img src="{{this.url}}" style="height: 300px;width: 100%">
                            {{/each}}
                        {{/ionSlide}}
                    {{/unless}}
                    {{#unless isimages3}}
                        {{#ionSlide}}
                            {{#each imageInfo images3}}
                                <img src="{{this.url}}" style="height: 300px;width: 100%">
                            {{/each}}
                        {{/ionSlide}}
                    {{/unless}}
                    {{#unless isimages4}}
                        {{#ionSlide}}
                            {{#each imageInfo images4}}
                                <img src="{{this.url}}" style="height: 300px;width: 100%">
                            {{/each}}
                        {{/ionSlide}}
                    {{/unless}}
                    {{#unless isimages5}}
                        {{#ionSlide}}
                            {{#each imageInfo images5}}
                                <img src="{{this.url}}" style="height: 300px;width: 100%">
                            {{/each}}
                        {{/ionSlide}}
                    {{/unless}}
                    {{#unless isimages6}}
                        {{#ionSlide}}
                            {{#each imageInfo images6}}
                                <img src="{{this.url}}" style="height: 300px;width: 100%">
                            {{/each}}
                        {{/ionSlide}}
                    {{/unless}}
                {{/ionSlideBox}}

            {{else}}
                <img src="/image/noImg.png" style="height: 300px;width: 100%">
            {{/if}}

            {{#ionItem}}
                编号：
                <span>{{orderMaterialDetail.材料编号}}</span>
            {{/ionItem}}

            {{#ionItem}}
                品牌：
                <span>{{orderMaterialDetail.材料品牌}}</span>
            {{/ionItem}}
            {{#ionItem}}
                名称：
                <span>{{orderMaterialDetail.材料名称}}</span>
            {{/ionItem}}
            {{#ionItem}}
                规格：
                <span>{{orderMaterialDetail.材料规格}}</span>
            {{/ionItem}}
            {{#ionItem}}
                单位：
                <span>{{orderMaterialDetail.材料单位}}</span>
            {{/ionItem}}
            {{#ionItem}}
                属性：
                <span>{{orderMaterialDetail.材料属性}}</span>
            {{/ionItem}}
        {{/ionList}}
    {{/ionContent}}
    {{> designer_tabs}}
</template>