<template name="orderMaterialList">
    {{#ionBody}}
        {{> headerBar}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}

        {{#ionView}}
            {{#ionSubheaderBar class="item item-input"}}
                <i class="icon ion-search placeholder-icon"></i>
                <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                    <input type="text" class="search" placeholder="按照材料名称或品牌搜索" style="margin-left: 5%;">
                </div>
                <div class="top-bar-btn closed" style="margin-left: 3%;">
                    取消
                </div>
            {{/ionSubheaderBar}}

            {{#ionContent}}
                {{#ionList}}
                    <div class="materialList">
                        {{#each orderMaterialInfo}}
                            {{#ionItem class="materialDetailInfo"}}
                                <h2 id="{{ID}}">名称： {{材料名称}}</h2>
                                <label>品牌：{{材料品牌}}</label>
                            {{/ionItem}}
                        {{/each}}
                    </div>
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>