<template name="orderDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#unless putInStorageTypeInfo}}
            {{#if isMerge}}
                {{#if mergeOrCancel}}
                    {{#contentFor "headerButtonRight"}}
                        <button class="button button-clear cancelMergeOrder">取消</button>
                    {{/contentFor}}
                {{else}}
                    {{#contentFor "headerButtonRight"}}
                        <button class="button button-clear mergeOrder">合并</button>
                    {{/contentFor}}
                {{/if}}
            {{/if}}
        {{/unless}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#if putInStorageTypeInfo}}
                        {{#ionItem}}
                            <div class="col-30 orderProgress">
                                <button class="button button-positive">
                                    进度查询
                                </button>
                            </div>
                        {{/ionItem}}
                    {{/if}}


                    {{#each orderMaterialList}}
                        <div class="item orderMaterialDetailInfo" style="background-color: {{orderIsMerge}}">
                            <span id="{{this._id}}">名称：{{this.材料名称}}  </span>
                            <p>品牌：{{this.材料品牌}}
                                {{#if isSalesReturn this._id}}
                                    <span style="color: red;">(退货)</span>
                                {{/if}}
                            </p>
                        </div>
                    {{/each}}

                    <div class="item ">
                        客户:{{customerInfo.CustName}}
                        电话:<a href="tel:{{customerInfo.Mobile}}">{{customerInfo.Mobile}}</a>
                    </div>
                    <div class="item ">
                        设计师:{{designerInfo.pName}}
                        电话:<a href="tel:{{designerInfo.pTelephone}}">{{designerInfo.pTelephone}}</a>
                    </div>
                    <div class="item ">
                        施工队长:{{construtionInfo.pName}}
                        电话:<a href="tel:{{construtionInfo.pTelephone}}">{{construtionInfo.pTelephone}}</a>
                    </div>
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
    {{/ionBody}}
    {{> designer_tabs}}
</template>