<template name="HeytzDelButton">
    <span class="heytz-del-button {{delClass}} {{class}}" id="{{this._id}}">
        {{#if text}}
            {{text}}
        {{else}}
            {{delText}}
        {{/if}}
    </span>
</template>