<template name="HeytzEditButton">
    <span class="heytz-edit-button {{editClass}} {{class}}" id="{{this._id}}"
          data-ion-modal="{{editModelName}}{{model}}">
        {{#if text}}
            {{text}}
        {{else}}
            {{editText}}
        {{/if}}
    </span>
</template>