<template name="customerParts">
    {{#ionBody}}

        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        <!--{{#contentFor "headerButtonLeft"}}-->
            <!--<div class="button button-clear pull-left backTemplates" href="{{pathFor backTemplate}}">-->
                <!--{{#if isAndroid}}-->
                    <!--{{> ionIcon icon='android-arrow-back'}}-->
                    <!--<span class="back-text">{{leftText}}</span>-->
                <!--{{else}}-->
                    <!--{{> ionIcon icon='ios-arrow-back'}}-->
                    <!--<span class="back-text">{{leftText}}</span>-->
                <!--{{/if}}-->
            <!--</div>-->
        <!--{{/contentFor}}-->

        {{#ionContent}}
            {{#ionList}}
                {{#each Selectparts}}
                    {{#ionItem}}
                        {{parts}}
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}


        {{> designer_tabs}}

    {{/ionBody}}
</template>