<template name="materialClassify02">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backTemplates" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear DecorateArea">切换区域</button>
        {{/contentFor}}
        {{#ionContent}}
            {{#ionList}}
                {{#each materialListInfo}}
                    {{#ionItem}}
                        <div class="customerGoMaterialList">
                            <span id="{{this.ID}}">{{this.上级名称}}--{{this.分类名称}}<span
                                    class="Colorblue">（ {{nextPageMaterialInfoCout this.ID}} ）</span></span>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>