<template name="materialClassify01">
    {{#ionBody}}

        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backTemplates" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear DecorateArea">切换区域</button>
        {{/contentFor}}

        {{#ionContent}}
            {{#ionList}}
                {{#each SelectmaterialClassify}}
                    {{#ionItem class="nextPage"}}
                        <span style="display:none;">{{classifyName}}</span>
                        <div>
                            {{classifyName}} <span class="Colorblue">（ {{count}} ）</span>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}


        {{#ionTabs style="ios" class="tab_three"}}
            <a class="tab-item active selectMaterial" href="#" data-ion-tab="">
                <i class="ion-search"></i>

                <div class="div_size">选材</div>
            </a>
            <a class="tab-item active" href="/mycustomer" data-ion-tab="">
                <i class="ion-person"></i>

                <div class="div_size">我的</div>
            </a>
            <a class="tab-item active" href="#" data-ion-tab="">
                <i class="ion-android-share-alt"></i>

                <div class="div_size">分享</div>
            </a>
        {{/ionTabs}}


    {{/ionBody}}


</template>