<template name="materialDeptConstructionType">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#ionItem}}
                        <span class="未开工"> 未开工 <span class="Colorblue">（ {{notWorkCount}} ）</span></span>
                    {{/ionItem}}
                    {{#ionItem}}
                        <span class="已开工"> 已开工 <span class="Colorblue">（ {{WorkCount}} ）</span></span>

                    {{/ionItem}}
                    {{#ionItem}}
                        <span class="已完成"> 已完成 <span class="Colorblue">（ {{CompletedCount}} ）</span></span>
                    {{/ionItem}}


                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}

</template>