<template name="pickDate">
    <div class=" row cabinetDate">
        <div class=" col yesterday">前一天</div>
        <button class="col date" id="date" data-value="{{startDate}}">{{startDate}}</button>
        <div class="col tomorrow">后一天</div>
    </div>
</template>