<template name="assignList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}


        {{#ionContent}}
            {{#ionList}}
                {{#ionItem class="item"}}
                    <div>
                        受理编号
                            <span class="item-note">
                             <label class="acnumberNumber">{{Info.ACNumber}}</label>
                            </span>
                    </div>
                {{/ionItem}}

                {{#ionItem class="item"}}
                    <div>
                        客户名称
                      <span class="item-note">
                        <label class="custnameInfo">{{Info.CustName}}</label>
                    </span>
                    </div>
                {{/ionItem}}

                {{#ionItem class="item"}}
                    <div>
                        联系方式
                      <span class="item-note">
                        <label>{{Info.Mobile}}</label>
                    </span>
                    </div>
                {{/ionItem}}
                {{#ionItem class="item"}}
                    <div>
                        装修模式
                      <span class="item-note">
                        <label>{{Info.BusiType}}</label>
                    </span>
                    </div>
                {{/ionItem}}

                {{#ionItem class="item"}}
                    <div>
                        地 址
                      <span class="item-note">
                        <label>{{Info.Address}}</label>
                    </span>
                    </div>
                {{/ionItem}}
                {{#ionItem class="item"}}
                    <div>
                        质检项目
                      <span class="item-note">
                        <label>{{checkProject}}</label>
                    </span>
                    </div>
                {{/ionItem}}


                <label class="item item-input item-select">
                    <div class="input-label" style="color: red;">
                        分配质检人员
                    </div>
                    <select class="qcList">
                        <option value="">请选择质检人员</option>
                        {{#each employeeInfo}}
                            <option value="{{this.ID}}">{{this.pName}}</option>
                        {{/each}}
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label" style="color: blue;">
                        质检时间
                    </div>
                    <input type="date" class="assignDate" value="{{assignerDate}}" style="color:blue">
                </label>

                {{#if isInRole 'qcManager' 'user-group'}}
                    <div class="padding">
                        <button class="button button-full button-positive assigner">
                            确 定
                        </button>
                    </div>
                {{/if}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>