<template name="assignQC">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear log-out">注销</button>
    {{/contentFor}}
    {{#ionView}}
        {{#ionSubheaderBar class="item item-input"}}
            <i class="icon ion-search placeholder-icon"></i>

            <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                <input type="text" class="search" placeholder="按照受理编号搜索" style="margin-left: 5%;">
            </div>
            <div class="top-bar-btn closed" style="margin-left: 3%;">
                取消
            </div>
        {{/ionSubheaderBar}}

        {{#ionContent}}
            {{#ionList}}
                {{#each Info}}
                    <div class="item item-avatar"
                         style="background-color: {{overdueDate this._id this.checkDate}};">
                        <img src="/image/user.png">
                        <div class="gocustomerDetail">
                            <h2 class="{{_id}}" style="color:{{getCustomerMode this.acnumber}}!important;">{{acnumber}}
                                -{{constructionInfo sender}}
                                -{{getStoreInfo acnumber}}-{{checkProject this.project}}</h2>
                            <p style="color:{{getCustomerMode this.acnumber}}!important;">{{getCustInfoAddress acnumber}}</p>
                        </div>
                    </div>

                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
    {{> designer_tabs}}

</template>