<template name="constructionDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#ionContent class="content"}}
            {{#ionList}}
                {{#ionItem class="acnumber"}}
                    合同编号:{{getCustInfoCustName.contract_id}}
                {{/ionItem}}
                {{#ionItem class="acnumber"}}
                    受理编号:<span class="custACNumber">{{Info.acnumber}}</span>
                {{/ionItem}}
                {{#ionItem}}
                    客户姓名:{{getCustInfoCustName.CustName }}
                {{/ionItem}}
                {{#ionItem}}
                    客户地址:{{getCustInfoCustName.Address }}
                {{/ionItem}}
                {{#ionItem}}
                    联系方式:{{getCustInfoCustName.Mobile}},{{getCustInfoCustName.Mobile2}}{{getCustInfoCustName.Telephone}}
                {{/ionItem}}
                {{#ionItem}}
                    质检项目:{{getQCProject Info.project}}
                {{/ionItem}}
                {{#ionItem}}
                    报检日期:{{DataFormat Info.createDate "YYYY-MM-DD"}}
                {{/ionItem}}
                {{#ionItem}}
                    质检日期:<span
                        style="color:{{colorValue Info.checkDate}}">{{DataFormat Info.checkDate 'YYYY-MM-DD'}}</span>
                {{/ionItem}}
                {{#ionItem}}
                    检查日期:{{DataFormat Info.checkDateInspection 'YYYY-MM-DD'}}
                {{/ionItem}}

                {{#if Info.updateDate}}
                    {{#ionItem}}
                        最后更新时间:{{DataFormat Info.updateDate 'YYYY-MM-DD'}}
                    {{/ionItem}}
                {{else}}
                    {{#ionItem}}
                        最后更新时间:{{DataFormat Info.createDate 'YYYY-MM-DD'}}
                    {{/ionItem}}
                {{/if}}
                {{#if isInRole 'qcBoss' 'user-group'}}
                    {{#ionItem}}
                        质检结果:{{checkResult Info.checkResult}}
                    {{/ionItem}}
                {{/if}}

                {{#if isInRole 'qcManager,qc' 'user-group'}}

                    {{#if buttonStatus Info._id}}
                        {{#ionItem}}

                            <div class="row" id="{{Info.acnumber}}">
                                <div class="col">
                                    <button class="button button-positive updateQCDate" id="{{Info._id}}">
                                        修改日期
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="button-positive button checkResultInspection" id="{{Info._id}}">
                                        <span>检验合格</span>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="button-positive button checkResultIssure" id="{{Info._id}}">
                                        <span class="Rectification">整改单</span>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="button-positive button checkResultIssure" id="{{Info._id}}">
                                        <span class="Coordination">协调单</span>
                                    </button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="button-positive button satisfaction" id="{{Info._id}}">
                                        <span class="">满意度</span>
                                    </button>
                                </div>

                                <div class="col">
                                    <button class="button-positive button edit" id="{{Info._id}}">
                                        <span class="">整改单/协调单编辑</span>
                                    </button>
                                </div>
                            </div>
                        {{/ionItem}}
                    {{else}}
                        <div style="border: 5px solid #ECECEC"></div>


                        {{#each reasonInfo}}
                            <div class="item">
                                部位:{{this.area}}--{{this.supplementrea}} 
                            </div>
                            <div class="item">
                                整改项目编号:{{this.errorCode}} 
                            </div>
                            <div class="item">
                                图片列表 :
                            </div>
                            <div class="item padding">
                                {{#each imageInfo this.picture}}
                                    <img src="{{this.url}}" style="width: 100%">
                                {{/each}}
                            </div>



                        {{/each}}
                    {{/if}}
                {{/if}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>