<template name="constructionList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}

        {{#ionView}}
            {{#ionSubheaderBar class="item item-input"}}
                <i class="icon ion-search placeholder-icon"></i>

                <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                    <input type="text" class="search" placeholder="按照受理编号搜索" style="margin-left: 5%;">
                </div>
                <div class="top-bar-btn closed" style="margin-left: 3%;">
                    取消
                </div>
            {{/ionSubheaderBar}}

            {{#ionContent}}
                {{#ionList}}
                    {{#each Info}}
                        {{#ionItem avatar=true}}
                            <img src="/image/user.png">
                            <div class="gocustomerDetail" id="{{this._id}}">
                                <h2 class="{{_id}}">受理编号：{{acnumber}}</h2>
                                <p>住址：{{getCustInfoAddress acnumber}}</p>
                            </div>

                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>