<template name="notExaminedList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonRight"}}
            {{#if nowOrAllButton}}
                <button class="button button-clear nowDate">今日</button>
            {{else}}
                <button class="button button-clear nowAll">全部</button>
            {{/if}}

            {{#if selectAllButton}}
                <button class="button button-clear selectDate">日期</button>
            {{else}}
                <button class="button button-clear selectAll">全部</button>
            {{/if}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}

        {{#ionView}}
            {{#ionSubheaderBar class="item item-input"}}
                <i class="icon ion-search placeholder-icon"></i>
                <div style="width: 80%;border-radius: 10px;background-color: gainsboro;">
                    <input type="text" class="search" placeholder="按照受理编号搜索" style="margin-left: 5%;">
                </div>
                <div class="top-bar-btn closed" style="margin-left: 3%;">
                    取消
                </div>
            {{/ionSubheaderBar}}

            {{#ionContent}}
                {{#ionList}}
                    {{#each Info}}
                        <div class="item item-avatar" style="background-color: {{overdueDate this._id this.checkDate}}">
                            <img src="/image/user.png">
                            <div class="gocustomerDetail" id="{{this._id}}">
                                <h2 class="{{_id}}"
                                    style="color:{{getCustomerMode this.acnumber}}!important;">{{acnumber}}
                                    -{{constructionInfo sender}}
                                    -{{getStoreInfo acnumber}}-{{checkProject this.project}}</h2>
                                <!--<p style="color:{{getCustomerMode this.acnumber}}!important;">{{getCustInfoAddress acnumber}}</p>-->
                                <p style="color: {{getCustomerMode this.acnumber}}!important;">
                                    报:{{DataFormat this.createDate "YYYY-MM-DD"}}
                                    开:{{getStartTime this.acnumber}}
                                    竣:{{getEndTime this.acnumber}}
                                </p>
                            </div>
                        </div>


                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>

