<template name="qcEditWorkSiteRepairList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#ionContent}}
            {{#ionList}}
                {{#each errcodeNo}}
                    {{#HeytzSlideButton}}
                        {{#ionItem}}
                            <h2 class="{{this._id}}">{{getReason this.errcode}}</h2>
                        {{/ionItem}}
                        {{#HeytzRightButtons}}
                            {{>HeytzDelButton}}
                        {{/HeytzRightButtons}}
                    {{/HeytzSlideButton}}

                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionBody}}
    {{>designer_tabs}}
</template>