<template name="satisfaction">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#contentFor "headerButtonLeft"}}
        <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
            {{#if isAndroid}}
                {{> ionIcon icon='android-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            {{else}}
                {{> ionIcon icon='ios-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            {{/if}}
        </div>
    {{/contentFor}}

    {{#ionContent}}
        {{#ionList}}
            {{#autoForm schema=Schemas.satisfactionInfo collection="Satisfaction" id="insertSatisfaction" type="insert"}}
                {{#ionItem}}
                    {{> afQuickField name="picture" }}
                {{/ionItem}}
                <div class="padding">
                    <button class="button button-full button-positive" type="submit">
                        提交
                    </button>
                </div>
            {{/autoForm}}
        {{/ionList}}
    {{/ionContent}}
</template>