<template name="workSiteRepair">

    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}


        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#autoForm schema=Schemas.workSiteRepairInfo collection="correctiveReason" id="correctiveReasonInsert" type="insert"}}
                        {{#ionItem}}
                            {{> afQuickField name="repairType" }}
                        {{/ionItem}}
                        {{#ionItem}}
                            {{> afQuickField name="reason" }}
                        {{/ionItem}}
                        <div class="padding">
                            <button class="button button-full button-positive goOn" type="submit">
                                继续开其它整改或协调单
                            </button>
                            <button class="button button-full button-positive onEnd" type="submit">
                                本次检查结束
                            </button>
                        </div>
                         
                    {{/autoForm}}

                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}

</template>