@import '{hashwin:ionic-sass}/_ionic';
@import '{hashwin:ionicons-sass}/_ionicons';

.background-none {
  background: none;
}

.customerAddress {
  white-space: inherit;
}

img.imgSlide {
  width: 100%;
  border: 0;
}

//popup 居中
.popup-body {
  text-align: center;
}

.form-control {
  border: 1px solid #b5b5b5 !important;
}

.productDetailsImg {
  border-bottom: 1px solid lightgray;
}

.jiangttConfirmQC {
  position: absolute;
  right: 1em;
  margin-top: -3em;
}

//login

.list-account {
  margin-top: 15%;

  .item.item-input.item-icon-left.button-clear {
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    border-bottom: 1px solid #b5b5b5;
  }

  input {
    margin-left: 20%;
  }

  .icon {
    color: #00A0DC;
  }

  .account-button {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    width: 90%;
    background-color: #00A0DC;
    color: white;
  }
}

.designerMenu {
  button {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
  }
}

.title_shop {
  width: 50%;
  //height: 80%;
  //width: 34px;
  //height: 30px;
  //right: 8%;

  //position: absolute;
}

//
.shopping_title_count {
  //margin-left: 120%;
  //margin-top: 1%;
  //margin-left: 170%;

  font-size: 1.5em;
}

//购物车加号和减号的样式

.count_style {

  .jian {
    width: 37px;
    height: 35px;
    float: left;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    //border: 1px #000 solid;
    //border-radius: 20px;
    cursor: pointer;
    margin-top: -1%;
  }

  .jian:hover {
    border: #999 1px solid;
  }

  .add {
    float: left;
  }
  .addd {
    width: 37px;
    height: 35px;
    float: left;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    margin-top: -1%;

    //border: 1px #000 solid;
    //  margin-top: 1%;
    //border-radius: 20px;
    cursor: pointer;
    //    margin-left: 3%;
  }
  .addd:hover {
    border: #999 1px solid;
  }

  .input_text {
    width: 60px;
    border: 1px #000000 solid !important;
    //    margin-left: 10%;
    //    margin-right: 2%;
    height: 35px !important;
    //  margin-top: 1%;
    //  display: block;
    text-align: center;
  }
}

.counts {
  float: left;
}

.shopcount_right {
  float: right;
}

.solutionList {

  img {
    width: 30px !important;
    height: 30px;
  }

  .row {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #DE4F4F;
    height: 58px;
  }

  .item {
    margin-left: 0px;
    width: 100%;
    height: 60px;
    border-left: none;
    border-right: none;
    position: absolute;
  }
}

//材料分类中导航条
.button_Navigation_style {
  width: 21%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px !important;
}

.materialDetail_pic {
  img {
    height: 300px;
    width: 100%
  }
  //width: 160px;
  //position: relative;
  //left: 26%;
  //  padding-left: 25%;
}

.materialDetailAdd {
  font-size: 15px;
  label {
    font-size: 15px;
    color: #444444;
  }
  select {
    width: 60%;
    float: right;
  }
  .form-group {
    padding: 10px;
    border-bottom: 1px solid #b5b5b5;
  }
}

//tabs
.tab_three {
  .tabs {
    //height: 10%;
    padding-top: 0;
    text-align: center;
    i {
      font-size: 2em;
      color: #145dd7;
    }
    .div_size {
      //font-size: 16px;
      font-size: 1.4em;
      //margin-top: 5%;
    }
  }
}

.tabs-icon-top > .tabs .tab-item {
  margin-top: 0.5em;
}

img {
  width: 100%;
}

.mycustomerstyle > h2 {
  padding: 24px !important;
}

.xingxing {
  width: 13%;
  float: right;
}

.Colorblue {
  color: blue;
}

//.has-subheader {
//  top: 44px !important;
//}

.SolutionMaterial {
  color: #444;
  width: 70%;
}

.button.button-assertive {
  border-color: #ef4e3a;
  background-color: #ef4e3a;
  color: #fff;
}

h2 {
  color: #444 !important;
}

.item-avatar {
  border-radius: 0%;
}

.search {
  margin-left: 12px;
}

//=========chat===
.chatContent {
  .chatList {
    margin-bottom: 55px;
  }
  .itemItem {
    overflow-x: hidden;

    padding: 0px;
    border: 0px;
    .chatItem {
      padding: -1px !important;
      border: 0px;
      .otherContent {
        position: relative;
        background: rgb(148, 229, 74);
        border-radius: 5px;
        float: right;
        width: inherit;
        padding: 7px;
        .arrow {
          position: absolute;
          top: 5px;
          right: -16px; /* 圆角的位置需要细心调试哦 */
          width: 0;
          height: 0;
          font-size: 0;
          border: solid 8px;
          border-color: #ffffff #ffffff #ffffff rgb(148, 229, 74);
        }
      }
      .meContent {
        position: relative;
        background: #d3d3d3;
        border-radius: 5px;
        float: left;
        width: inherit;
        padding: 7px;
        .arrow {
          position: absolute;
          top: 5px;
          left: -16px; /* 圆角的位置需要细心调试哦 */
          width: 0;
          height: 0;
          font-size: 0;
          border: solid 8px;
          border-color: #FFFFFF #d3d3d3 #ffffff #ffffff;
        }
      }
    }
  }
}

.bar.bar-footer.bar-dark.forumDetails {
  background-color: #d3d3d3;
  .saySomething {
    width: 130%;
    resize: none;
    border-radius: 4px;
    padding: 8px;
    border: 0px;
  }
  button.button-clear.speech {
    margin-left: 4%;
    background-color: white;
    width: 20%;
    color: #111111;
    border-radius: 4px;
  }

}

.circle {
  width: 15px;
  height: 15px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.circle1 {
  width: 15px;
  height: 15px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  margin-left: 5em;
  margin-top: -1em;

}

.messageInfo {
  .chatMessage:first-child {
    margin-top: 51px;
  }
}

.text-indent {
  text-indent: 2em;
}

.Spacing {
  padding: 4px;
  margin-left: 1%;
}

.Spacing1 {
  padding: 2px;
}

.Spacing2 {
  margin: auto;
  text-align: center
}

.pictureDetail {
  color: red;
  text-indent: 2em;
}

.constractPricingList:first-child {
  margin-top: 4em;
}

.reason {
  border: 1px solid #b5b5b5 !important;
}
//
//.content {
//  margin-bottom: 44px;
//}
