.heytz-del-row .item {
    position: relative;
    width: 100%;
    float: left;
}

.heytz-del-row .heytz-right-buttons {
    width: 0%;
    right: 0px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: none;
    overflow: hidden;
    white-space: nowrap;
}

.heytz-del-row .heytz-right-buttons .heytz-edit-button {
    height: 52px;
    text-align: center;
    float: left;
    width: 0px;
    line-height: 51px;

    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #00a65a;
    overflow: hidden;
    white-space: nowrap;
}

.heytz-del-row .heytz-right-buttons .heytz-del-button {
    height: 52px;
    text-align: center;
    float: left;
    width: 0px;
    line-height: 51px;
    color: #ffffff;

    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #dd4b39;
    overflow: hidden;
    white-space: nowrap;
}