<template name="measureList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item {{isActive "unMeasure"}}" href="#" value="unMeasure">
                    过期测量
                </a>
                <a class="tab-item {{isActive "todayMeasure"}}" href="#" value="todayMeasure">
                    今日测量
                </a>
                <a class="tab-item {{isActive "futureMeasure"}}" href="#" value="futureMeasure">
                    未来测量
                </a>
            </div>
        </div>
        {{#ionView}}
            {{#ionContent class="messageInfo"}}
                {{#ionList}}
                    {{#each deliverGoodsInfo}}
                        {{#ionItem avatar=true class="chatMessage"}}
                            <img src="/image/user.png">
                            <div class="gocustomerDetail">
                                <span class="{{this._id}}">名称：{{this.受理编号}}-<span
                                        class="orderNo"> {{this.定单编号}}</span>-{{getCustomerName this.受理编号}}</span>
                                <p>客户地址：{{getCustomerAddress this.受理编号}}</p>
                            </div>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}
</template>