<template name="associatedOrderList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each orderMaterialList}}
                        <div class="item orderMaterialDetailInfo" style="background-color: {{orderIsMerge}}">
                            <span id="{{this._id}}">名称：{{this.材料名称}}  </span>
                            <p>品牌：{{this.材料品牌}}
                                {{#if isSalesReturn this._id}}
                                    <span style="color: red;">(退货)</span>
                                {{/if}}
                            </p>
                            <p>数量:{{this.材料数量}}</p>
                        </div>
                    {{/each}}


                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
    {{/ionBody}}
    {{> designer_tabs}}
</template>
