<template name="messageInfo">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#contentFor "headerButtonLeft"}}
        <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
            {{#if isAndroid}}
                {{> ionIcon icon='android-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            {{else}}
                {{> ionIcon icon='ios-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            {{/if}}
        </div>
    {{/contentFor}}

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">

            <a class="tab-item {{isActive "unread"}}" href="#" value="unread">
                未读
            </a>
            <a class="tab-item {{isActive "read"}}" href="#" value="read">
                已读
            </a>
            <a class="tab-item {{isActive "all"}}" href="#" value="all">
                全部
            </a>
        </div>
    </div>

    {{#ionView}}
        {{#ionContent class="messageInfo"}}
            {{#ionList}}
                {{#each messageInfo}}
                    {{#ionItem class="chatMessage"}}
                        <div><strong>{{materialName}}</strong></div>
                        <span class="{{this.roomId}}"> {{this.userInfo.name}}:{{this.message}}</span>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionView}}
</template>