<template name="systemMessage">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each messageInfo}}
                        <div class="item item-avatar chatMessage" style=color:{{fontColor this.state}}>
                            <img src="{{MessageIcon this._id}}">
                            <div class="{{this._id}}">{{DataFormat this.date "YYYY-MM-DD"}}</div>
                            <span> {{this.message}} </span>
                        </div>
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>
