<template name="qcCheckDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#ionItem class="item"}}
                        <div>
                            客户名称
                            <span class="item-note">
                        <label>{{getCustInfoCustName Info.acnumber}}</label>
                    </span>
                        </div>
                    {{/ionItem}}
                    {{#ionItem class="item"}}
                        <div>
                            客户受理编号
                            <span class="item-note">
                        <label>{{Info.acnumber}}</label>
                    </span>
                        </div>
                    {{/ionItem}}
                    {{#ionItem class="customerAddress"}}
                        <div>
                            地 址
                            <span class="item-note">
                                {{getCustInfoAddress Info.acnumber}}
                            </span>
                        </div>
                    {{/ionItem}}

                    {{#ionItem class="item"}}
                        <div>
                            联系方式
                            <span class="item-note">
                        <label>
                            {{#if getCustomer.Mobile}}
                                {{getCustomer.Mobile}}
                            {{/if}}
                            {{#if getCustomer.Mobile2}}
                                ,{{getCustomer.Mobile2}}
                            {{/if}}
                            {{#if getCustomer.Telephone}}
                                ,{{getCustomer.Telephone}}
                            {{/if}}
                            {{#if getCustomer.Telephone2}}
                                ,{{getCustomer.Telephone2}}
                            {{/if}}

                        </label>
                    </span>
                        </div>
                    {{/ionItem}}



                    {{#ionItem class="customerAddress"}}
                        <div>
                            施工队长
                            <span class="item-note">
                                {{constructionInfo Info.sender}}
                            </span>
                        </div>
                    {{/ionItem}}

                    {{#ionItem class="customerAddress"}}
                        <div>
                            门店
                            <span class="item-note">
                                {{getStoreInfo Info.acnumber}}
                            </span>
                        </div>
                    {{/ionItem}}


                    {{#ionItem class="customerAddress"}}
                        <div>
                            报检项目
                            <span class="item-note">
                                {{checkProject Info.project}}
                            </span>
                        </div>
                    {{/ionItem}}

                    {{#ionItem class="customerAddress"}}
                        <div>
                            开工时间
                            <span class="item-note">
                                {{DataFormat getStartTime "YYYY-MM-DD hh:mm"}}
                            </span>
                        </div>
                    {{/ionItem}}
                    {{#ionItem class="item"}}
                        <div>
                            实际开工日期
                            <span class="item-note">
                              <label>{{DataFormat getActualStartTime "YYYY-MM-DD hh:mm"}}</label>
                    </span>
                        </div>
                    {{/ionItem}}


                    {{#ionItem class="customerAddress"}}
                        <div>
                            竣工时间
                            <span class="item-note">
                                {{DataFormat getEndTime "YYYY-MM-DD hh:mm"}}
                            </span>
                        </div>
                    {{/ionItem}}
                    <button class="button button-block button-positive account-button">确认报检</button>

                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>