<template name="contractPricingDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionContent}}
            {{#ionList}}
                {{#ionItem}}<span> 供应商名称：{{supplierName.名称}}</span>{{/ionItem}}
                {{#ionItem}}<span> 编号：{{budgetMaterialInfo.材料编号}}</span>{{/ionItem}}
                {{#ionItem}}<span> 品牌：{{budgetMaterialInfo.材料品牌}}</span>{{/ionItem}}
                {{#ionItem}}<span> 属性：{{budgetMaterialInfo.材料属性}}</span>{{/ionItem}}
                {{#ionItem}}<span> 名称：<span
                        class="materialName">{{budgetMaterialInfo.材料名称}}</span></span>{{/ionItem}}
                {{#ionItem}}<span> 规格：{{budgetMaterialInfo.材料规格}}</span>{{/ionItem}}
                {{#ionItem}}<span> 单位：{{budgetMaterialInfo.材料单位}}</span>{{/ionItem}}
                {{#ionItem}}<span> 数量：<span
                        class="materialNumber">{{budgetMaterialInfo.材料数量}}</span></span>{{/ionItem}}
                {{#ionItem}}<span> 部位号：{{budgetMaterialInfo.部位号}}</span>{{/ionItem}}
                {{#ionItem}}<span> 部位：{{budgetMaterialInfo.部位}}</span>{{/ionItem}}
                {{#ionItem}}<span> 其它说明：{{budgetMaterialInfo.其它说明}}</span>{{/ionItem}}

                <div class="padding">
                    {{#each imageInfo}}
                        <img src="{{this.url}}">
                    {{/each}}
                </div>

                <div style="display: none" class="reasonRemark">
                    <textarea class="textareaReason" name="reason" cols=40 rows=4
                              style=" border: 1px solid #b5b5b5!important; width: 100%"> </textarea>

                    <!--<input type="textarea" class="reason" style="border: 1px solid #d3d3d3; width: 100%;height: 10em">-->
                </div>
                {{#if isShowButton}}
                    <div style="margin: auto;text-align: center;">
                        <button class="button button-positive approved">
                            审核通过
                        </button>
                        <button class="button button-positive notApproved">
                            退 回
                        </button>
                    </div>
                {{/if}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}

</template>