<template name="PutInStorage">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}
        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item {{isActive "undeliverGoods"}}" href="#" value="undeliverGoods">
                    待入库
                </a>
                <a class="tab-item {{isActive "todaydeliverGoods"}}" href="#" value="todaydeliverGoods">
                    已入库
                </a>
            </div>
        </div>

        {{#ionView}}
            {{#ionContent class="messageInfo"}}
                {{#ionList class="constractPricingList"}}
                    {{#each erpInfoSupplierInfo}}
                        {{#ionItem }}
                            <h2>{{this.ID}}-{{this.名称}}
                                <!--<span class="Colorblue">（ {{supplierCount this.ID }} ）</span>-->
                            </h2>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}
</template>