<template name="borrowingList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each erpProjectLoanList}}
                        {{#ionItem}}
                            受理编号:{{this.受理编号}}
                        {{/ionItem}}
                        {{#ionItem}}
                            申请金额:{{this.申请金额}}
                        {{/ionItem}}
                        {{#ionItem}}
                            借款事由:{{getResonDetail this.借款事由}}
                        {{/ionItem}}
                        {{#ionItem}}
                            申请日期:{{getDateFormat this.申请日期}}
                        {{/ionItem}}
                        <div style="border: 5px solid #ECECEC"></div>
                    {{/each}}

                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>