<template name="borrowingType">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#ionItem class="issued"}}
                        <span> 已发放 <span class="Colorblue">（ {{issuedCount}} ）</span></span>
                    {{/ionItem}}
                    {{#ionItem class="notissued"}}
                        <span> 未发放 <span class="Colorblue">（ {{notissuedCount}} ）</span></span>
                    {{/ionItem}}

                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}

</template>