<template name="ConstructionCost">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each constructionCostInfo}}
                        {{#ionItem}}
                            受理编号:{{this.受理编号}}
                        {{/ionItem}}
                        {{#ionItem}}
                            合计:{{this.合计}}
                        {{/ionItem}}
                        {{#ionItem}}
                            工程部审核人:{{this.工程部审核人}}
                        {{/ionItem}}
                        {{#ionItem}}
                            工程部审核日期:{{getDateFormat this.工程部审核日期}}
                        {{/ionItem}}
                        <div style="border: 5px solid #ECECEC"></div>
                    {{/each}}

                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>