<template name="ConstrectionType">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear log-out">注销</button>
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#ionItem class="constreCtionissued"}}
                        <span> 已发放 <span class="Colorblue">（ {{constreCtionissuedCount}} ）</span></span>
                    {{/ionItem}}
                    {{#ionItem class="constreCtionnotissued"}}
                        <span> 未发放 <span class="Colorblue">（ {{constreCtionnotissued}} ）</span></span>
                    {{/ionItem}}

                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}

</template>