<template name="complaintsList">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#ionContent}}
            {{#ionList}}

                <div class="row">
                    <div class="col-40" style="width: 35%;margin-top: 3em;margin-left: 5%;"><img src="/image/tousu.png">
                    </div>
                    <div class="col-60" style="margin-left: 5%;margin-top: 3em; font-size: 19px;"><span>投诉电话：<p
                            style="margin-top: 15%;">4008001234</p></span></div>
                </div>


                {{#if isInRole 'client' 'user-group'}}
                    {{#autoForm schema=Schemas.complaints collection="Complaints" id="complaintsInsert" type="insert"}}
                        {{#ionItem}}
                            {{> afQuickField name="reason" }}
                        {{/ionItem}}
                        {{#ionItem}}
                            {{> afQuickField name="picture" }}
                        {{/ionItem}}
                        <div class="padding">
                            <button class="button button-full button-positive" type="submit">
                                提交
                            </button>
                        </div>
                    {{/autoForm}}
                {{/if}}

            {{/ionList}}


        {{/ionContent}}


        {{> designer_tabs}}

    {{/ionBody}}
</template>