<template name="deliverGoodsList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}


        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">

                <a class="tab-item {{isActive "undeliverGoods"}}" href="#" value="undeliverGoods">
                    过期发货
                </a>
                <a class="tab-item {{isActive "todaydeliverGoods"}}" href="#" value="todaydeliverGoods">
                    今日发货
                </a>
                <a class="tab-item {{isActive "futuredeliverGoods"}}" href="#" value="futuredeliverGoods">
                    未来发货
                </a>
            </div>
        </div>

        {{#ionView}}
            {{#ionContent class="messageInfo"}}
                {{#ionList}}
                    {{#each deliverGoodsInfo}}
                        {{#ionItem avatar=true class="chatMessage"}}
                            <img src="/image/user.png">
                            <div class="gocustomerDetail">
                                <span class="{{this._id}}">名称：{{this.受理编号}}-<span
                                        class="orderNo"> {{this.定单号}}</span>-{{getCustomerName this.受理编号}}</span>
                                <p>客户地址：{{getCustomerAddress this.受理编号}}</p>
                            </div>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}
</template>