<template name="chatMessageList">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}

    {{#ionContent}}
        {{#ionList}}
            {{#each messageInfo}}
                {{#ionItem}}
                    <div class="gocustomerDetail">
                        <h2 class="{{this.roomId}}">{{materialName}}</h2>
                        <p>{{message}}</p>
                    </div>
                {{/ionItem}}
            {{/each}}
        {{/ionList}}
    {{/ionContent}}
    {{> designer_tabs}}


</template>