<template name="chat">
    {{#ionBody}}
    <!--{{#ionNavView}}-->
        {{> ionNavBar class='bar-positive'}}
        {{#contentFor "headerTitle"}}
            <h1 class="title font-white">
                <strong>{{titleName}}</strong>
            </h1>
        {{/contentFor}}
        {{#contentFor "headerButtonLeft"}}
            <a class="button button-clear pull-left">
                {{> ionIcon icon='ios-arrow-back'}}
                <span class="back-text">{{leftText}}</span>
            </a>
        {{/contentFor}}
        {{#contentFor "headerButtonRight"}}
            {{#if selectDateOrAll}}
                <button class="button button-clear selectDate">日期</button>
            {{else}}
                <button class="button button-clear selectAll">全部</button>
            {{/if}}
        {{/contentFor}}

        {{#ionView}}
            {{#ionContent class="chatContent"}}
                <div class="list chatList" id="chatList">
                    <div class="item item-body itemItem">
                        <div class="item more">
                            {{#if loading}}
                                加载中...
                            {{else}}
                                {{#if more}}
                                    <div class="loadMore">加载更多</div>
                                {{else}}
                                    无
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    {{#each messages}}
                        <!--sender-->
                        {{#if selfSend sender}}
                            <div class="item item-body itemItem">
                                <div class="item item-avatar-right item-text-wrap chatItem">
                                    <img class="villageImg" src="{{this.userInfo.icon}}">
                                    <div class="otherContent">{{message}}
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="item item-body itemItem">
                                <div class="item item-avatar-left item-text-wrap chatItem">
                                    <img class="villageImg" src="{{this.userInfo.icon}}">
                                    <div style="font-size: 9px;">{{this.userInfo.name}}</div>

                                    <div class="meContent">{{message}}
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>

                        {{/if}}
                    {{/each}}
                    <div id="chatBottom"></div>
                </div>
            {{/ionContent}}
            <div class="bar bar-footer bar-dark forumDetails">
                <input class="saySomething" style="color: #000;">
                <button class="button-clear speech send" {{sendDisabled}}>发送</button>
            </div>
        {{/ionView}}
            <!--{{/ionNavView}}-->
    {{/ionBody}}
</template>