<template name="materialChatList">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}

        {{#unless isInRole 'materialDept' 'user-group'}}
            {{#contentFor "headerButtonLeft"}}
                <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                    {{#if isAndroid}}
                        {{> ionIcon icon='android-arrow-back'}}
                        <span class="back-text">{{leftText}}</span>
                    {{else}}
                        {{> ionIcon icon='ios-arrow-back'}}
                        <span class="back-text">{{leftText}}</span>
                    {{/if}}
                </div>
            {{/contentFor}}
        {{/unless}}

            <!--{{#contentFor "headerButtonRight"}}-->
        <!--<button class="button button-clear">今日</button>-->
        <!--<button class="button button-clear">日期</button>-->
            <!--{{/contentFor}}-->

        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">

                <a class="tab-item {{isActive "unread"}}" href="#" value="unread">
                    未读
                </a>
                <a class="tab-item {{isActive "read"}}" href="#" value="read">
                    已读
                </a>
            </div>
        </div>
        {{#ionContent class="messageInfo"}}
            {{#ionList}}
                {{#each Info}}
                    {{#ionItem avatar=true class='chatMessage'}}
                        <img src="/image/user.png">
                        <div class="gocustomerDetail">
                            <h2 id="{{_id}}" class="{{ACNumber}}">名称：{{CustName}}</h2>
                            <p>住址：{{Address}}</p>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>