<template name="ContractListType">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}


        {{#ionContent}}
            {{#ionList}}
                {{#ionItem class="paymentReminder" avatar=true path='StandardMaterial'}}
                    <img src="/image/icon/cuikuan.png">
                    <h2 style="margin-top: 10px">标准材料 <span class="Colorblue">（ {{Budget_Material_count}} ）</span></h2>
                {{/ionItem}}
                {{#ionItem class="settlementOrder" avatar=true path='CustomizeMaterial'}}
                    <img src="/image/icon/jiesuan.png">
                    <h2 style="margin-top: 10px"> 定制材料 <span class="Colorblue">（ {{productOrder_Count}} ）</span></h2>
                {{/ionItem}}
                {{#ionItem class="settlementOrder captain_custom" avatar=true}}
                    <img src="/image/icon/jiesuan.png">
                    <h2 style="margin-top: 10px"> 队长定制 <span class="Colorblue">（ {{duizhangCount}} ）</span></h2>
                {{/ionItem}}
                {{#ionItem class="notSign" avatar=true}}
                    <img src="/image/icon/jiesuan.png">
                    <h2 style="margin-top: 10px"> 未签收材料 <span class="Colorblue">（ {{duizhangCount}} ）</span></h2>
                {{/ionItem}}

            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>
