<template name="CustomizeMaterial">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#ionContent}}
            {{#ionList}}
                {{#each getMaterialDetail01}}
                    {{#ionItem class="productDetail01"}}
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>

                        <p>品牌：{{this.材料品牌}}</p>
                    {{/ionItem}}
                {{/each}}
                {{#each getMaterialDetail02}}
                    {{#ionItem class="productDetail02"}}
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>

                        <p>品牌：{{this.材料品牌}}</p>
                    {{/ionItem}}
                {{/each}}
                {{#each getMaterialDetail03}}
                    {{#ionItem class="productDetail03"}}
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>

                        <p>品牌：{{this.材料品牌}}</p>
                    {{/ionItem}}
                {{/each}}
                {{#each getMaterialDetail04}}
                    {{#ionItem class="productDetail04"}}
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>

                        <p>品牌：{{this.材料品牌}}</p>
                    {{/ionItem}}
                {{/each}}
                {{#each getMaterialDetail05}}
                    {{#ionItem class="productDetail05"}}
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>

                        <p>品牌：{{this.材料品牌}}</p>
                    {{/ionItem}}
                {{/each}}
                {{#each getMaterialDetail06}}
                    {{#ionItem class="productDetail06"}}
                        <span id="{{this._id}}">名称：{{this.材料名称}}  </span>

                        <p>品牌：{{this.材料品牌}}</p>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}
    {{/ionBody}}

</template>