<template name="StandardMaterialDetail">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#if isInRole 'Supplier' 'user-group'}}
            {{#contentFor "headerButtonRight"}}
                <button class="button button-clear isCancel">全额退货</button>
            {{/contentFor}}
        {{/if}}


        {{#ionView}}
            {{#ionContent}}
                {{#ionList}}

                    <div class="row" style="margin-left: 1%">
                        {{#if isInRole 'Supplier' 'user-group'}}
                            {{#if isSingle}}
                                <div class="col-30 Spacing">
                                    <button class="button button-positive goScheduleList">
                                        进度查询
                                    </button>
                                </div>
                            {{/if}}
                        {{/if}}
                        <div class="col-30 Spacing">
                            <button class="button button-positive SNINFO">
                                会话管理
                            </button>
                        </div>

                        {{#unless isInRole 'client,Supplier,' 'user-group'}}
                            <div class="col-30 Spacing">
                                <button class="button button-positive rushFactory">
                                    催进场
                                </button>
                            </div>
                            <div class="col-30 Spacing">
                                <button class="button button-positive typicalSentences">
                                    常用
                                </button>
                            </div>
                        {{/unless}}
                    </div>

                    <div>
                        {{#ionItem}}<span style="color:{{colorFont}}"> 供应商名称：{{supplierName.名称}}</span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 编号：{{budgetMaterialInfo.材料编号}}</span>
                            {{#if isAssociatedOrder}}
                                <button class="button associatedOrder">
                                    关联定单
                                </button>
                            {{/if}}
                        {{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 品牌：{{budgetMaterialInfo.材料品牌}}</span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 属性：{{budgetMaterialInfo.材料属性}}</span>{{/ionItem}}
                        {{#ionItem}}<span style="white-space: initial; color:{{colorFont}}"> 名称：<span
                                class="materialName">{{budgetMaterialInfo.材料名称}}</span></span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 规格：{{budgetMaterialInfo.材料规格}}</span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 单位：{{budgetMaterialInfo.材料单位}}</span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 数量：<span
                                class="materialNumber">{{budgetMaterialInfo.材料数量}}</span></span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 部位号：{{budgetMaterialInfo.部位号}}</span>{{/ionItem}}
                        {{#ionItem}}<span style="color:{{colorFont}}"> 部位：{{budgetMaterialInfo.部位}}</span>{{/ionItem}}
                        {{#ionItem}}<span
                                style="color:{{colorFont}}"> 其它说明：{{budgetMaterialInfo.其它说明}}</span>{{/ionItem}}
                        {{#ionItem}}<span
                                style="color:{{colorFont}}"> 修改时间：{{getData budgetMaterialInfo.修改时间}}</span>{{/ionItem}}
                    </div>

                    <div class="productDetailsImg">
                        {{#ionSlideBox}}
                            {{#each imagesSlide materialDetailImage.picture}}
                                {{#each this}}
                                    {{#ionSlide}}
                                        <img src="{{this.url}}" class="imgSlide">
                                    {{/ionSlide}}
                                {{/each}}
                            {{/each}}
                        {{/ionSlideBox}}
                    </div>

                {{/ionList}}
            {{/ionContent}}
            {{> designer_tabs}}
        {{/ionView}}
    {{/ionBody}}
</template>