<template name="StandardMaterial">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#unless isInRole 'contractDept' 'user-group'}}
            {{#contentFor "headerButtonRight"}}
                <button class="button button-clear orderSortSupplierList">供应商</button>
            {{/contentFor}}
        {{/unless}}
        {{#ionContent}}
            {{#ionList}}
                {{#each standardMaterialList}}
                    <div class="item StandardMaterialgoDetail" style="background-color: {{itemColor this.增减}}">
                        {{#if materialMessageState this._id}}
                            <div class="circle"></div>
                        {{/if}}

                        <span id="{{this._id}}"><span style="color: #8A8A8A;">[{{getpartsName this.部位号}}
                            ]</span>-{{this.材料品牌}}</span>
                        <span id="{{this._id}}" style="float: right">
                            {{#if symboladd this.增减}}
                                <span>+</span>
                            {{/if}}
                            {{#if symboljian this.增减}}
                                <span>-</span>
                            {{/if}}
                            {{this.材料数量}}{{this.材料单位}}</span>

                        <p style="font-size: 18px;"> {{this.材料名称}}</p>
                            <!--{{#if isInRole 'contractDept' 'user-group'}}-->
                        <!--<button class="button button-balanced openfile">-->
                        <!--解锁-->
                        <!--</button>-->
                            <!--{{/if}}-->
                    </div>

                {{/each}}

                {{#if iscaptainCustom}}
                    {{#each erpBudgetRationList}}
                        <div class="item" style="background-color: #b5b5b5">
                            <span><span style="color: #8A8A8A;">[{{getpartsName this.部位号}}]</span>-{{this.立项项目}}</span>
                        </div>
                    {{/each}}
                {{/if}}

            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}

</template>

