<template name="budgetList">

    {{#with headObj}}
        {{>headerBar}}
    {{/with}}

    {{#ionContent}}
        {{#ionList}}
            {{#ionItem}}
                <div>
                    客户受理编号
                      <span class="item-note">
                        <label>1190910262685113</label>
                    </span>
                </div>
            {{/ionItem}}

            {{#ionItem}}
                <div>
                    客户姓名
                    <span class="item-note">
                        <label>heytz</label>
                    </span>
                </div>
            {{/ionItem}}

            {{#ionItem}}
                <div>
                    地  址
                    <span class="item-note">
                        <label>上海市山西北路1388号</label>
                    </span>
                </div>
            {{/ionItem}}

            {{#ionItem}}
                <div>
                    方案名称
                    <span class="item-note">
                        <label>方案1</label>
                    </span>
                </div>
            {{/ionItem}}
        {{/ionList}}

    {{/ionContent}}

</template>