<template name="MaterialClassify3">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}


        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear DecorateArea">切换区域</button>
        {{/contentFor}}

        {{#ionView}}
        <!--{{#ionSubheaderBar class="item item-input"}}-->
            <!--<i class="icon ion-search placeholder-icon"></i>-->
            <!--<input type="text" class="search" placeholder="搜索">-->
                <!--{{/ionSubheaderBar}}-->

            {{#ionContent}}
                <button class="button button-calm button_Navigation_style go_marerialClassify1">
                    {{oneupper_level}}
                </button>
                <span style="position: relative; top: 16px;">></span>
                <!--<button class="ion-chevron-right button-clear" style="padding-top: 3%"></button>-->
                <button class="button button_Navigation_style button-calm go_marerialClassify2">
                    {{upper_level}}
                </button>

                <div class="materClassify3">
                    {{#ionList}}
                        {{#each MaterialClassifyList}}
                            {{#ionItem}}
                                <h2 style="color:#444;display: none">{{this.分类名称}}</h2>
                                <span style="color:#444">{{this.分类名称}} <span
                                        class="Colorblue">（ {{materialCount this.ID this.classList}} ）</span></span>
                                <i style="display: none">{{this.ID}}</i>
                            {{/ionItem}}
                        {{/each}}


                    {{/ionList}}
                </div>

            {{/ionContent}}
        {{/ionView}}
        {{#if isrole}}
            {{#ionTabs style="ios" class="tab_three"}}
                <a class="tab-item active selectMaterial" href="#" data-ion-tab="">
                    <i class="ion-search"></i>

                    <div class="div_size">选材</div>
                </a>
                <a class="tab-item active" href="/mycustomer" data-ion-tab="">
                    <i class="ion-person"></i>

                    <div class="div_size">我的</div>
                </a>
                <a class="tab-item active" href="#" data-ion-tab="">
                    <i class="ion-android-share-alt"></i>

                    <div class="div_size">分享</div>
                </a>
            {{/ionTabs}}
        {{else}}
            {{> designer_tabs}}
        {{/if}}
    {{/ionBody}}
</template>