<template name="materialList">
    {{#ionBody}}
        {{> headerBar}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#if rightbutton}}
            {{#contentFor "headerButtonRight"}}
                <div style="position: absolute;float: right; margin-left: 75%;">
                    <img src="/image/shop.png" class="title_shop">
                    <span class="shopping_title_count">{{shoppingcount}}</span>
                </div>
            {{/contentFor}}
        {{else}}
            {{#contentFor "headerButtonRight"}}
                <button class="button button-clear saveButton">保存</button>
            {{/contentFor}}
        {{/if}}

        {{#ionView}}
            {{#ionContent}}
                {{#if oneupper_level}}
                    <button class="button button-calm button_Navigation_style go_marerialClassify1">
                        {{oneupper_level}}
                    </button>
                {{/if}}

                {{#if upper_level}}
                    <span style="position: relative; top: 16px;">></span>
                    <button class="button button_Navigation_style button-calm go_marerialClassify2">
                        {{upper_level}}
                    </button>
                {{/if}}
                {{#if third_material}}
                    <span style="position: relative; top: 16px;">></span>
                    <button class="button button_Navigation_style button-calm go_marerialClassify3">
                        {{third_material}}
                    </button>
                {{/if}}
                {{#if four_level}}
                    <span style="position: relative; top: 16px;">></span>
                    <button class="button button_Navigation_style button-calm go_marerialClassify4">
                        {{four_level}}
                    </button>
                {{/if}}

                {{#ionList}}
                    <div class="materialList">
                        {{#each materiaList}}
                            {{#ionItem}}
                                <h2 id="{{ID}}">名称： {{材料名称}}</h2>
                                <label>品牌：{{材料品牌}}</label>
                                <input type="hidden" value="{{产品订单分类}}">
                            {{/ionItem}}
                        {{/each}}
                    </div>
                {{/ionList}}
            {{/ionContent}}
        {{/ionView}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>