<template name="MaterialClassify4">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear DecorateArea">切换区域</button>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
                <button class="button button-calm button_Navigation_style go_materialClassify1">
                    {{oneupper_level}}
                </button>
                <span style="position: relative; top: 16px;">></span>

                <button class="button button_Navigation_style button-calm go_materialClassify2">
                    {{upper_level}}
                </button>
                <span style="position: relative; top: 16px;">></span>
                <button class="button_Navigation_style button button-calm go_materialClassify3">
                    {{third_level}}
                </button>

                <div class="materClassify4">
                    {{#ionList}}
                        {{#each MaterialClassifyList4}}
                            {{#ionItem}}
                                <h2 style="color:#444;display: none">{{this.分类名称}}</h2>
                                <span style="color:#444">{{this.分类名称}} <span
                                        class="Colorblue">（ {{materialCount this.ID this.classList}} ）</span></span>
                                <i style="display:none;">{{this.ID}}</i>
                            {{/ionItem}}
                        {{/each}}
                    {{/ionList}}
                </div>

            {{/ionContent}}
        {{/ionView}}

        {{> designer_tabs}}
    {{/ionBody}}
</template>