<template name="modeSelect">
    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#ionContent class="padding" }}
       <input type="hidden" value="{{list._id}}">
        <button class="button button-block button-energized Local_renovation">
            <h4 style="color: #ffffff;">局部翻新</h4>
        </button>

        <button class="button button-block button-royal Local_renovation">
            <!--//Integral_decoration-->
            <h4 style="color: #ffffff;"> 整体翻新</h4>
        </button>

        <button class="button button-block button-positive Local_renovation ">
            <!--Individualization-->
            <h4 style="color: #ffffff;"> 个性化装修</h4>
        </button>

    {{/ionContent}}
</template>