<template name="shopping">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backTemplates" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#if isInRole 'designer,client' 'user-group'}}
            {{#contentFor "headerButtonRight"}}
                <button class="button button-clear save_shop">保存</button>
            {{/contentFor}}
        {{/if}}

        {{#ionContent}}
            {{#ionList}}
                {{#each shopList}}
                    {{#ionItem}}

                        <div class="materialInfo">
                            <input type="hidden" value="{{this.产品订单分类}}">
                            <h2 style="width:75%;" id="{{this.ID}}">名称：{{this.材料名称}}</h2>
                            <p>品牌:{{this.材料品牌}}</p>
                        </div>

                        <div id="{{this.ID}}" class="delShoppingCartMaterial"
                             style="position: absolute;float: right; margin-left: 77%; margin-top: -12%;">
                            <button class="button button-assertive">
                                删除
                            </button>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
            <!--<div class="bar bar-footer bar-balanced addMaterial">-->
            <!--<div class="title">添加材料</div>-->
            <!--</div>-->
        {{/ionContent}}



        {{> designer_tabs}}
    {{/ionBody}}
</template>
