<template name="CsolutionsList">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#each solutionsList}}
                    {{#ionItem}}
                        <div class="solutionName">
                            <span id="{{this._id}}">方案名称:{{solutionName}} </span>
                            <p>创建时间:{{getformatDate Date}}</p>
                        </div>
                        {{#if isInRole 'designer' 'user-group'}}
                            <div class="solutionListDel" id="{{this._id}}"
                                 style="position: absolute;float: right; margin-left: 77%;margin-top: -11%;">
                                <button class="button button-assertive " style="float: right">
                                    删除
                                </button>
                            </div>
                        {{/if}}
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>