<template name="CSolutionDetail">
    {{#ionBody}}
        {{> headerBar}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <div class="button button-clear pull-left backMenuList" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}
        {{#contentFor "headerButtonRight"}}
            <button class="button button-clear saveButton">保存</button>
        {{/contentFor}}

        {{#ionContent}}
            {{#ionList}}
                <div class="solutionList">
                    {{#each projectDeataiList}}
                        <div class="row">
                            {{#ionItem}}

                                <div class="nextDetailPage">
                                    <input type="hidden" value="{{this.materialOrderType}}">
                                    <h2 id="{{materialID}}" class="counts" style="width: 75%;">
                                        <span class="partsMateriak">{{parts}}</span>：{{getMaterialName materialID}}</h2>
                                </div>
                                     <div class="solutionListDel" id="{{this.materialID}}"
                                         style="position: absolute;float: right; margin-left: 77%; margin-top:-3%;">
                                        <button class="button button-assertive">
                                            删除
                                        </button>
                                    </div>
                             {{/ionItem}}
                            <!--<span class="solutionListDel">删除</span>-->
                        </div>
                    {{/each}}
                </div>
            {{/ionList}}

            {{#if currentCustomerState}}
                <div class="bar bar-positive add_Material">
                    <div id="{{getsolutionID._id}}" class="title">添加材料</div>
                </div>
            {{/if}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>