<template name="customerindex">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}
        {{#ionContent}}
            {{#ionList}}
                {{#if isimage}}

                        {{#ionSlideBox}}
                            {{#if images1}}
                                {{#ionSlide}}
                                    {{#each images images1}}
                                        <img src="{{this.url}}" style="height: 300px;width: 100%">
                                    {{/each}}
                                {{/ionSlide}}
                            {{/if}}

                            {{#if images2}}
                                {{#ionSlide}}
                                    {{#each images images2}}
                                        <img src="{{this.url}}" style="height: 300px;width: 100%">
                                    {{/each}}
                                {{/ionSlide}}
                            {{/if}}
                            {{#if images3}}
                                {{#ionSlide}}
                                    {{#each images images3}}
                                        <img src="{{this.url}}" style="height: 300px;width: 100%">
                                    {{/each}}
                                {{/ionSlide}}
                            {{/if}}
                            {{#if images4}}
                                {{#ionSlide}}
                                    {{#each images images4}}
                                        <img src="{{this.url}}" style="height: 300px;width: 100%">
                                    {{/each}}
                                {{/ionSlide}}
                            {{/if}}
                            {{#if images5}}
                                {{#ionSlide}}
                                    {{#each images images5}}
                                        <img src="{{this.url}}" style="height: 300px;width: 100%">
                                    {{/each}}
                                {{/ionSlide}}
                            {{/if}}
                            {{#if images6}}
                                {{#ionSlide}}
                                    {{#each images images6}}
                                        <img src="{{this.url}}" style="height: 300px;width: 100%">
                                    {{/each}}
                                {{/ionSlide}}
                            {{/if}}

                        {{/ionSlideBox}}

                {{else}}
                    <img src="/customer/customerad.jpg">
                {{/if}}

                <p style="color: red;font-size: 18px;margin-top: 2%;">最新动态</p>
                {{#each newmessage}}
                    {{#ionItem class="goNewsMessageDetail"}}
                        <h3 id="{{_id}}" >{{this.newsTitle}}</h3>
                    {{/ionItem}}
                {{/each}}


            {{/ionList}}
        {{/ionContent}}
        {{> designer_tabs}}
    {{/ionBody}}
</template>