<template name="materialSelect">

    {{#with headObj}}
        {{> headerBar}}
    {{/with}}
    {{#ionContent}}
        {{#ionList}}
            {{#ionItem avatar=true}}
                <div class="solution_select"><h2>材料1</h2></div>
            {{/ionItem}}

            {{#ionItem avatar=true}}
                <div class="solution_select"><h2>材料2</h2></div>
            {{/ionItem}}


            {{#ionItem avatar=true}}
                <div class="solution_select"><h2>材料3</h2></div>
            {{/ionItem}}

            {{#ionItem avatar=true}}
                <div class="solution_select"><h2>材料4</h2></div>
            {{/ionItem}}
        {{/ionList}}
    {{/ionContent}}
    {{> customer_tabs}}
</template>