<template name="mycustomer">
    {{#ionBody}}
        {{#with headObj}}
            {{> headerBar}}
        {{/with}}
        {{#contentFor "headerButtonLeft"}}
            <!--{{>ionNavBackButton path=backTemplate text="返回"}}-->
            <div class="button button-clear pull-left backTemplates" href="{{pathFor backTemplate}}">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{else}}
                    {{> ionIcon icon='ios-arrow-back'}}
                    <span class="back-text">{{leftText}}</span>
                {{/if}}
            </div>
        {{/contentFor}}

        {{#contentFor "headerTitle"}}
            <h1 class="title">{{titleName}}</h1>
        {{/contentFor}}

        {{#ionContent}}
            {{#ionList}}
                {{#if iscontractDept}}
                    {{#if isInRole 'contractDept' 'user-group'}}
                        {{#ionItem avatar=true class="item-icon-right contractInfo"}}
                            <img src="/image/icon/hetong.png">
                            <h2 style="padding: 8px;">合同</h2>
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}
                    {{/if}}
                {{else}}
                    {{#if isInRole 'ConstructionCaptain' 'user-group'}}
                        {{#ionItem avatar=true class="item-icon-right contractInfo"}}
                            <img src="/image/icon/hetong.png">
                            <h2 style="padding: 8px;">合同</h2>
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}

                        {{#ionItem avatar=true class="item-icon-right hejiadan"}}
                            <img src="/image/icon/hejiadan.png">

                            <h2 style="padding: 8px;">核价单<span class="Colorblue">（ {{hejiaInfoCount}} ）</span></h2>
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}
                        {{#ionItem avatar=true class="item-icon-right ChangeOrder"}}
                            <img src="/image/icon/biangeng.png">

                            <h2 style="padding: 8px;">变更单<span class="Colorblue">（ {{ChangeOrderCount}} ）</span>
                            </h2>
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}

                        {{#ionItem avatar=true class="item-icon-right constructionList"}}
                            <img src="/image/icon/construction_site.png">

                            <h2 style="padding: 8px;">工地进度
                                {{#if constructionCount}}
                                    <div class="circle"><span style="margin-left: 2em; font-size: 13px; color:#B7B7B7">有新消息了!</span>
                                    </div>
                                {{/if}}
                            </h2>
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}
                        {{#ionItem avatar=true class="item-icon-right MessageList"}}
                            <img src="/image/icon/tongzhi.png">

                            <h2 style="padding: 8px;">材料会话</h2>
                            {{#if materialMessageCount}}
                                <div class="circle"><span
                                        style="margin-left: 2em; font-size: 13px; color:#B7B7B7">有新消息了!</span></div>
                            {{/if}}
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}
                        {{#ionItem avatar=true class="item-icon-right jiesuan"}}
                            <img src="/image/icon/结算.png">

                            <h2 style="padding: 8px;">结算<span class="Colorblue">（ {{jiesuanCount}} ）</span></h2>
                            <i class="icon ion-ios-arrow-right"></i>
                        {{/ionItem}}

                    {{else}}
                        <div class="mycustomerstyle">
                            {{#if Contract_customersType }}
                                {{#ionItem avatar=true class="item-icon-right shoppingcart"}}
                                    <img src="/image/icon/shopping.png">

                                    <h2 style="padding: 8px;">选材车 <span class="Colorblue">（ {{shoppingCount}} ）</span>
                                    </h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}

                                {{#ionItem avatar=true class="item-icon-right CsolutionsList"}}
                                    <img src="/image/icon/方案.png">

                                    <h2 style="padding: 8px;">方案 <span class="Colorblue">（ {{solutionCount}} ）</span>
                                    </h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                            {{/if}}

                            {{#if CompletionCustInfo}}
                                {{#ionItem avatar=true class="item-icon-right contractInfo"}}
                                    <img src="/image/icon/hetong.png">
                                    <h2 style="padding: 8px;">合同</h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}

                                {{#ionItem avatar=true class="item-icon-right hejiadan"}}
                                    <img src="/image/icon/hejiadan.png">

                                    <h2 style="padding: 8px;">核价单<span class="Colorblue">（ {{hejiaInfoCount}} ）</span>
                                    </h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                                {{#ionItem avatar=true class="item-icon-right ChangeOrder"}}
                                    <img src="/image/icon/biangeng.png">

                                    <h2 style="padding: 8px;">变更单<span class="Colorblue">（ {{ChangeOrderCount}} ）</span>
                                    </h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}

                                {{#ionItem avatar=true class="item-icon-right constructionList"}}
                                    <img src="/image/icon/construction_site.png">

                                    <h2 style="padding: 8px;">工地进度</h2>
                                    {{#if constructionCount}}
                                        <div class="circle"><span
                                                style="margin-left: 2em; font-size: 13px; color:#B7B7B7">有新消息了!</span>
                                        </div>
                                    {{/if}}
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                                {{#ionItem avatar=true class="item-icon-right MessageList"}}
                                    <img src="/image/icon/tongzhi.png">

                                    <h2 style="padding: 8px;">材料会话
                                        {{#if materialMessageCount}}
                                            <div class="circle"><span
                                                    style="margin-left: 2em; font-size: 13px; color:#B7B7B7">有新消息了!</span>
                                            </div>
                                        {{/if}}
                                    </h2>

                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                                {{#ionItem avatar=true class="item-icon-right jiesuan"}}
                                    <img src="/image/icon/结算.png">

                                    <h2 style="padding: 8px;">结算<span class="Colorblue">（ {{jiesuanCount}} ）</span></h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                                {{#ionItem avatar=true class="item-icon-right evaluation"}}
                                    <img src="/image/icon/评价.png">

                                    <h2 style="padding: 8px;">评价</h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                            {{else}}
                                {{#ionItem avatar=true class="item-icon-right evaluation"}}
                                    <img src="/image/icon/评价.png">

                                    <h2 style="padding: 8px;">评价</h2>
                                    <i class="icon ion-ios-arrow-right"></i>
                                {{/ionItem}}
                            {{/if}}
                            {{#if CompletionCustInfo}}
                                {{#if isInRole 'client' 'user-group'}}
                                    {{#ionItem avatar=true class="item-icon-right complaintsList"}}
                                        <img src="/image/icon/tousu.png">
                                        <h2 style="padding: 8px;">投诉</h2>
                                        <i class="icon ion-ios-arrow-right"></i>
                                    {{/ionItem}}
                                {{/if}}
                            {{/if}}
                            {{#if isInRole 'client' 'user-group'}}
                                {{#ionItem}}
                                    <div class="button-but">
                                        <button class="button button-block button-width button-assertive"
                                                id="js-logout">注销
                                        </button>
                                    </div>
                                {{/ionItem}}
                            {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            {{/ionList}}

        {{/ionContent}}


        {{> designer_tabs}}
    {{/ionBody}}
</template>


