<template name="contractlist">
    {{#ionBody}}
        {{#with headObj}}
            {{>headerBar}}
        {{/with}}

        {{#ionContent}}
            {{#ionList}}
                {{#each BudgetCover}}
                    <img src="{{this.src}}" style="width: 100%">

                    <!--<img src=data:image/jpeg;base64,{{this.Data}}>-->
                {{/each}}
                {{#each BudgetDetail}}
                    <img src="{{this.src}}" style="width: 100%">

                    <!--<img src=data:image/jpeg;base64,{{this.Data}}>-->
                {{/each}}
                {{#each EngineeringQuotation}}
                    <img src="{{this.src}}" style="width: 100%">

                    <!--<img src=data:image/jpeg;base64,{{this.Data}}>-->
                {{/each}}
            {{/ionList}}
        {{/ionContent}}

        {{> designer_tabs}}

    {{/ionBody}}
</template>